#cookie-law-info-bar
  %span
    This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish.
    %a#cookie_action_close_header.medium.cli-plugin-button.cli-plugin-main-button.cookie_action_close_header.cli_action_button{"data-cli_action" => "accept", :href => "#"} Accept
    %a#CONSTANT_OPEN_URL.cli-plugin-main-link{:href => "/images/Product-Data-Lake-Terms-of-Service-and-Privacy-Policy-201810.pdf", :target => "_blank"} Read More