%footer#colophon.site-footer{:role => "contentinfo"}
  .footer-widget-wrapper
    .container
      .row
        .col.col-1-of-3
          %aside#text-7.widget.widget_text
            .textwidget
              %p{:style => "text-align: right;"}
                %strong
                  %a{:href => "/en/information8"} Kontakt:
        / .col
        .col.col-1-of-3
          %aside#text-6.widget.widget_text
            .textwidget
              %p
                %strong Product Data Lake International ApS
              %p
                Henrik Engel, CEO  /
                %br/
                %a{:href => "mailto:engel@productdatalake.com"} engel@productdatalake.com
              %p
                Henrik Gabs Liliendahl, CTO  /
                %br/
                %a{:href => "mailto:henrik@productdatalake.com"} henrik@productdatalake.com
              %p
                cvr: 39919060  –
                %a{:href => "mailto:info@productdatalake.com"} info@productdatalake.com
        / .col
        .col.col-1-of-3
          %aside#text-8.widget.widget_text
            .textwidget
        / .col
      / .row
    / .container
  / .footer-widget-wrapper
  #site-generator.site-info
    .container
      .col.col-1-of-1
        .footer-copyright
          #copyright
            %p Copyright 2016 - Product Data Lake.
          .go-to-top
            %a.go-to-top-link{:href => "#"}
              %i.fa.fa-angle-up
              = succeed "Back To Top" do
                %br/
          / .go-to-top
        / .footer-copyright
      / .col
    / .wrapper
  / #site-generator
/ .site-footer