%header#masthead.site-header.header.primary-header.header-logo-text{:role => "banner"}
  .top-bar
    .container
      .row
        .col.col-1-of-2.top-left
          .social-links
            .menu-socials-menu-container
              %ul#menu-socials-menu.social-links-menu
                %li#menu-item-157.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-157
                  %a{:href => "https://www.linkedin.com/company/product-data-lake/"}
                    %span.screen-reader-text
                      %span.dojodigital_toggle_title Linkedin
                %li#menu-item-158.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-158
                  %a{:href => "https://twitter.com/ProductDataLake"}
                    %span.screen-reader-text
                      %span.dojodigital_toggle_title Twitter
          / .social-links
        / .col
        .col.col-1-of-2.top-right
          %form.search-form{:action => "http://172.16.4.58:3003/locomotive/solitary-sands-6544/preview", :method => "get", :role => "search"}
            %label
              %span.screen-reader-text Search for:
              %input.search-field{:name => "s", :placeholder => "Search …", :type => "search", :value => ""}/
            %input.search-submit{:type => "submit", :value => "Search"}/
        / .col
      / .row
    / .container
  / .top-bar
  .contact-info-section
    .container
      .row
        .col.col-1-of-4
          .site-branding
            %a.custom-logo-link{:href => "/en", :itemprop => "url", :rel => "home"}
              %img.custom-logo{:alt => "Product Data Lake", :height => "150", :itemprop => "logo", :sizes => "(max-width: 686px) 100vw, 686px", :src => "http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/OneLineWhiteBold-720x150-tilrettet.png", :srcset => "http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/OneLineWhiteBold-720x150-tilrettet.png 686w, http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/OneLineWhiteBold-720x150-tilrettet-300x66.png 300w", :width => "686"}/
            %p.site-description Let product data flow easily between trading partners
          / .site-branding
        / .col
        .col.col-3-of-4
          .contact-information-wrapper
            .contact-information
              %dl
                %dt
                  %i.fa.fa-envelope
                %dd
                  %p
                    %a{:href => "mailto:info@productdatalake.com"} info@productdatalake.com
                    %br/
                    %br/
                    %a#DA{:href => "/da"} DANISH
          / .contact-information
        / .col
  / .contact-info-section
  .full-nav-menu
    .container
      .row
        .col.col-1-of-1
          %nav.main-navigation
            %ul#menu-menu.menu
              %li#menu-item-64.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-40.current_page_item.menu-item-has-children.menu-item-64
                %a{:href => "/en"} Welcome
                %ul.sub-menu
                  %li#menu-item-156.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-156
                    %a{:href => "/en/wellcome1"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title About Product Lake Data
                  %li#menu-item-155.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-155
                    %a{:href => "/en/wellcome2"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title How to get started
              %li#menu-item-63.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-63
                %a{}
                  %span.dojodigital_toggle_title
                    %span.dojodigital_toggle_title Choose your business
                %ul.sub-menu
                  %li#menu-item-101.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-101
                    %a{:href => "/en/business1"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title I am a Manufacturer
                  %li#menu-item-102.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-102
                    %a{:href => "/en/business2"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title I am Retailer
                  %li#menu-item-99.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-99
                    %a{:href => "/en/business3"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title I have an E-shop
                  %li#menu-item-100.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-100
                    %a{:href => "/en/business4"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title I have a retail shop/chain of retail shops
              %li#menu-item-62.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-62
                %a{}
                  %span.dojodigital_toggle_title
                    %span.dojodigital_toggle_title The Technical Set-Up
                %ul.sub-menu
                  %li#menu-item-88.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-88
                    %a{:href => "/en/technical1"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Product Data Syndication Freedom
                  %li#menu-item-87.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-87
                    %a{:href => "/en/technical2"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Metadata Management and International Standards
                  %li#menu-item-86.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-86
                    %a{:href => "/en/technical3"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Data Lake and Business Ecosystems
                  %li#menu-item-85.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-85
                    %a{:href => "/en/technical4"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Cross Company Data Governance
                  %li#menu-item-84.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-84
                    %a{:href => "/en/technical5"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Artificial Intelligence and Machine Learning
                  %li#menu-item-83.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-83
                    %a{:href => "/en/technical6"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Getting Started and Documentation
              %li#menu-item-61.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-61
                %a{}
                  %span.dojodigital_toggle_title
                    %span.dojodigital_toggle_title Information
                %ul.sub-menu
                  %li#menu-item-127.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-127
                    %a{:href => "/en/information1"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Flashtest Your Business
                  %li#menu-item-126.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-126
                    %a{:href => "/en/information2"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Become Ambassador to PDL
                  %li#menu-item-125.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-125
                    %a{:href => "/en/information3"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Prices
                  %li#menu-item-68.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-68
                    %a{:href => "/en/information4"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Q &amp; A
                  %li#menu-item-124.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-124
                    %a{:href => "/en/information5"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Free Trial
                  %li#menu-item-122.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-122
                    %a{:href => "/en/information6"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Watch Our Movie Clip
                  %li#menu-item-123.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-123
                    %a{:href => "/en/information7"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Stay updated
                  %li#menu-item-121.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-121
                    %a{:href => "/en/information8"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Contact
              %li#menu-item-60.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-60
                %a{:href => "/en/log/"}
                  %span.dojodigital_toggle_title
                    %span.dojodigital_toggle_title Log on
                %ul.sub-menu
                  %li#menu-item-133.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-133
                    %a{:href => "/en/log1"}
                      %span.dojodigital_toggle_title
                        %span.dojodigital_toggle_title Create new user
              %li#menu-item-65.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-65
                %a{:href => "/en/blog"}
                  %span.dojodigital_toggle_title
                    %span.dojodigital_toggle_title Blog
          / .main-navigation
          %form.search-form{:action => "http://172.16.4.58:3003/locomotive/solitary-sands-6544/preview", :method => "get", :role => "search"}
            %label
              %span.screen-reader-text Search for:
              %input.search-field{:name => "s", :placeholder => "Search …", :type => "search", :value => ""}/
            %input.search-submit{:type => "submit", :value => "Search"}/
        / .col
      / .row
    / .container
  / .full-nav-menu
/ #masthead