%header#masthead.site-header.header.primary-header.header-logo-text{:role => "banner"}
  .top-bar
    .container
      .row
        .col.col-1-of-2.top-left
          .social-links
            .menu-socials-menu-container
              %ul#menu-socials-menu.social-links-menu
                %li#menu-item-856.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-856
                  %a{:href => "https://www.linkedin.com/company/product-data-lake/"}
                    %span.screen-reader-text Linkedin
                %li#menu-item-879.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-879
                  %a{:href => "https://twitter.com/ProductDataLake"}
                    %span.screen-reader-text Twitter
          / .social-links
        / .col
        .col.col-1-of-2.top-right
          %form.search-form{:action => "/", :method => "get", :role => "search"}
            %label
              %span.screen-reader-text Search for:
              %input.search-field{:name => "s", :placeholder => "Search …", :type => "search", :value => ""}/
            %input.search-submit{:type => "submit", :value => "Search"}/
        / .col
      / .row
    / .container
  / .top-bar
  .contact-info-section
    .container
      .row
        .col.col-1-of-4
          .site-branding
            %a.custom-logo-link{:href => "/da", :itemprop => "url", :rel => "home"}
              %img.custom-logo{:alt => "Product Data Lake", :height => "150", :itemprop => "logo", :sizes => "(max-width: 686px) 100vw, 686px", :src => "http://www.soerensen.fr/psi/wordpress/wp-content/uploads/2018/11/OneLineWhiteBold-720x150-tilrettet.png", :srcset => "http://www.soerensen.fr/psi/wordpress/wp-content/uploads/2018/11/OneLineWhiteBold-720x150-tilrettet.png 686w, http://www.soerensen.fr/psi/wordpress/wp-content/uploads/2018/11/OneLineWhiteBold-720x150-tilrettet-300x66.png 300w", :width => "686"}/
            %p.site-description Let product data flow easily between trading partners
          / .site-branding
        / .col
        .col.col-3-of-4
          .contact-information-wrapper
            .contact-information
              %dl
                %dt
                  %i.fa.fa-envelope
                %dd
                  %p
                    %a{:href => "mailto:info@productdatalake.com"} info@productdatalake.com
                    %br/
                    %br/
                    %a#EN{:href => "/en"} ENGLISH
          / .contact-information
        / .col
  / .contact-info-section
  .full-nav-menu
    .container
      .row
        .col.col-1-of-1
          %nav.main-navigation
            %ul#menu-menu.menu
              %li#menu-item-663.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-662.current_page_item.menu-item-has-children.menu-item-663
                %a{:href => "/da"} Velkommen
                %ul.sub-menu
                  %li#menu-item-772.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-772
                    %a{:href => "/da/wellcome1"} Om Product Data Lake
                  %li#menu-item-1149.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1149
                    %a{:href => "/da/wellcome2"} Sådan kommer du i gang
              %li#menu-item-902.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-902
                %a{:href => "/da/business"} Vælg din business
                %ul.sub-menu
                  %li#menu-item-771.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-771
                    %a{:href => "/da/business1"} Jeg er producent
                  %li#menu-item-769.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-769
                    %a{:href => "/da/business2"} Jeg er forhandler
                  %li#menu-item-767.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-767
                    %a{:href => "/da/business3"} Jeg har en e-shop
                  %li#menu-item-768.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-768
                    %a{:href => "/da/business4"} Jeg har en detailbutik/kæde
              %li#menu-item-922.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-922
                %a{:href =>"/da/technical"} The Technical Set-up
                %ul.sub-menu
                  %li#menu-item-921.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-921
                    %a{:href => "/da/technical1"} Product Data Syndication Freedom
                  %li#menu-item-918.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-918
                    %a{:href => "/da/technical2"} Metadata Management and International Standards
                  %li#menu-item-919.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-919
                    %a{:href => "/da/technical3"} Data Lake and Business Ecosystems
                  %li#menu-item-920.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-920
                    %a{:href => "/da/technical4"} Cross Company Data Governance
                  %li#menu-item-917.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-917
                    %a{:href => "/da/technical5"} Artificial Intelligence and Machine Learning
                  %li#menu-item-1099.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1099
                    %a{:href => "/da/technical6"} Getting Started and Documentation
              %li#menu-item-928.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-928
                %a{:href => "/da/information"} Information
                %ul.sub-menu
                  %li#menu-item-930.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-930
                    %a{:href => "/da/information1"} Lyntest Jeres egen virksomhed
                  %li#menu-item-760.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-760
                    %a{:href => "/da/information2"} Bliv ambassadør for Product Data Lake
                  %li#menu-item-1168.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1168
                    %a{:href => "/da/information3"} Priser
                  %li#menu-item-929.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-929
                    %a{:href => "/da/information4"} Gratis prøveperiode
                  %li#menu-item-759.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-759
                    %a{:href => "/da/information5"} Hold dig a jour
                  %li#menu-item-989.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-989
                    %a{:href => "/da/information6"} Q &amp; A
                  %li#menu-item-988.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-988
                    %a{:href => "/da/information7"} Se vores film
                  %li#menu-item-1016.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1016
                    %a{:href => "/da/information8"} Kontakt os
              %li#menu-item-758.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-758
                %a{:href => "/da/log"} Log on
                %ul.sub-menu
                  %li#menu-item-1054.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1054
                    %a{:href => "/da/log1"} Opret bruger
              %li#menu-item-942.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-942
                %a{:href => "/da/blog"} Blog
          / .main-navigation
          %form.search-form{:action => "http://172.16.4.58:3003/locomotive/harmonious-summit-7401/preview/da", :method => "get", :role => "search"}
            %label
              %span.screen-reader-text Search for:
              %input.search-field{:name => "s", :placeholder => "Search …", :type => "search", :value => ""}/
            %input.search-submit{:type => "submit", :value => "Search"}/
        / .col
      / .row
    / .container
  / .full-nav-menu
/ #masthead