!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Product Data Lake - Let product data flow easily between trading partners
    %link{:href => "//www.soerensen.fr", :rel => "dns-prefetch"}/
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    %link#columns-css{:href => "/stylesheets/columns.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#contact-form-7-css{:href => "/stylesheets/styles.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-css{:href => "/stylesheets/cookie-law-info-public.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-gdpr-css{:href => "/stylesheets/cookie-law-info-gdpr.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#meanmenu-css{:href => "/stylesheets/meanmenu.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-grid-css{:href => "/stylesheets/grid.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#owl-carousel-css{:href => "/stylesheets/owl.carousel.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-style-css{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-responsive-css{:href => "/stylesheets/responsive.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#font-awesome-css{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-fonts-css{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-662.page-parent.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_da' %}
      #content.site-content
        .container
          .row
            #primary.content-area.col.col-2-of-3
              %main#main.site-main{:role => "main"}
                %article#post-861.post-861.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-om-os
                  %header.entry-header
                    %h1.entry-title Bliv Ambassadør for Product Data Lake
                  / .entry-header
                  / %img.attachment-full.size-full.wp-post-image{:alt => "", :height => "4912", :sizes => "(max-width: 7360px) 100vw, 7360px", :src => "/images/iStock-912944158.jpg", :width => "7360"}/
                  .entry-content
                    .pf-content
                      %p Synes du at Product Data Lakes syn på den fremtidige måde at dele produktdata på er lige så spændende som vi gør, så blev en del af vores team. Vi ønsker at tilknytte ambassadører, der kan bidrage og spare med os om den fortsatte udvikling samt tilknytte virksomheder, der ønsker at bruge systemet.
                      %p
                        Her finder du mere information om vores ambassadørkoncept:
                        = succeed "." do
                          %a{:href => "/images/Product-Data-Lake-Ambassador-1.8.pdf", :rel => "noopener", :target => "_blank"} Product Data Lake Ambassador
                  / .entry-content
                / #post-##
                %nav.navigation.post-navigation{:role => "navigation"}
                  %h2.screen-reader-text Post navigation
                  .nav-links
                    .nav-previous
                      %a{:href => "/da/blog6", :rel => "prev"} Lyntest Jeres virksomhed
                    .nav-next
                      %a{:href => "/da/blog4", :rel => "next"} Hvad kan vi?
              / #main
            / #primary
            #secondary.widget-area.col.col-1-of-3{:role => "complementary"}
              .sidebar
                %aside#media_image-21.widget.widget_media_image
                  %img.image.wp-image-1115.attachment-medium.size-medium{:alt => "", :height => "300", :sizes => "(max-width: 300px) 100vw, 300px", :src => "/images/BadgeMedium-300x300.png", :style => "max-width: 100%; height: auto;", :width => "300"}/
            / #secondary
          / .row
        / .container
      / #content
      {% include 'foot' %}
    / #page
    #cookie-law-info-bar
      %span
        This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish.
        %a#cookie_action_close_header.medium.cli-plugin-button.cli-plugin-main-button.cookie_action_close_header.cli_action_button{"data-cli_action" => "accept", :href => "#"} Accept
        %a#CONSTANT_OPEN_URL.cli-plugin-main-link{:href => "/images/Product-Data-Lake-Terms-of-Service-and-Privacy-Policy-201810.pdf", :target => "_blank"} Read More
    #cookie-law-info-again
      %span#cookie_hdr_showagain Privacy &amp; Cookies Policy
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
      /* ]]> */
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"1000","autoplayTimeout":"1000"};
      /* ]]> */
    
