---
title: Business4.en

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Product Data Lake - Let product data flow easily between trading partners
    %link{:href => "//www.soerensen.fr", :rel => "dns-prefetch"}/
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    {{ 'columns.css' | stylesheet_tag }}
    {{ 'styles.css' | stylesheet_tag }}
    {{ 'cookie-law-info-gdpr.css' | stylesheet_tag }}
    {{ 'cookie-law-info-public.css' | stylesheet_tag }}
    {{ 'meanmenu.css' | stylesheet_tag }}
    {{ 'grid.css' | stylesheet_tag }}
    {{ 'owl-carousel.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'responsive.css' | stylesheet_tag }}
    %link#font-awesome-css{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-fonts-css{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-662.page-parent.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_en' %}
      #content.site-content
        .container
          .row
            #primary.content-area.col.col-2-of-3
              %main#main.site-main{:role => "main"}
                %article#post-94.post-94.page.type-page.status-publish.hentry
                  %header.entry-header
                    %h1.entry-title I have a retail shop/chain of retail shops
                  / .entry-header
                  .entry-content
                    %p Gain constant access to 100% correct, fulfilling, and updated data about the products that you sell. All your suppliers’ data is converted to the exact same format, the one in which you prefer to receive it. Their product data is automatically “pushed” into your system to the extent that you desire. That way, you can provide your customers with proper product information, make them feel safe, and increase your sales.
                    %p A vital precondition for a sale is that you have proper and updated information about the products you buy, and that your customers have the right information about the products they buy from you.
                    %p Product Data Lake is a cloud-based solution that automatically converts and “pushes” product data from your suppliers into your system, regardless of the system that you and your countless suppliers use. It is up to you to decide what data you wish to receive from the individual supplier, and your system will automatically be updated each time one of your suppliers makes changes or adds something new. Product Data Lake can either be used alone or as an add-on solution for frequently used ERP and PIM product management systems. You only pay for the data that is transmitted through the system. This guarantees you the safest and most scalable solution
                    %p
                      %strong Avoid incorrect product data
                      %br/
                      How do you currently make sure that you always have correct and updated product data? Do you receive a catalogue, emails, or Excel files? Do you have a customer portal to which your suppliers are able to upload their data? Or do you download updated data individually from each of your customers’ supplier portals? Perhaps you do a little bit of each? No matter which of these solutions you choose, it will not safeguard you against data that is not updated or data with errors.
                      %br/
                      Every time people handle data, it increases the risk of mistakes. What is more, it is expensive and inconvenient for you to have to receive and manage data in many different ways.
                      %br/
                      You also need to look at it from your suppliers’ perspective. They have many customers that want to receive data in many different ways. Tailoring data for each retailer like that costs your suppliers a huge amount of money and is very time-consuming. And it also involves a huge risk of mistakes at their end of the line.
                    %p Product Data Lake solves the problem with great advantage for you as a retailer, as well as for your suppliers, and it eventually results in increased turnover for all parties
                    %p
                      %strong Facts about Product Data Lake – automatic product data transfer
                    %p
                      You can rest assured that you always have access to correct and updated product data from your suppliers
                      %br/
                      Your product data will always be completely correct and up-to date
                      %br/
                      You will experience that your customers are more satisfied because of always receiving sufficient and correct information
                      %br/
                      Your suppliers will save a substantial amount of money and loads of work hours on this easy method of keeping you up-to-date. This strengthens your negotiating platform and makes you a more valued customer
                      %br/
                      You save money and labor by only having to deliver product data through one source
                      %br/
                      You and your suppliers increase your sales by always having 100% correct product data
                      %br/
                      You save money on misorders and returns as a result of having incorrect product data
                      %br/
                      It is inexpensive to use Product Data Lake compared with other types of product data exchange, as the settlement is variable and based exclusively on the amount of data that is transmitted through the system. The annual cost per product typically lies in the range of 1-3 DKr.
                    %p
                      %strong Get more information
                    %p
                      %a{:href => "/en/information8"}
                        %em Yes, I would like to receive additional information by email
                      %br/
                      %a{:href => "/en/blog1"}
                        %em Take our speed test that gives you instant feedback on how effectively you currently handle your product data
                      %br/
                      %a{:href => "/en/blog"}
                        %em Check our blog and receive updates about news and optimal handling of product data
                  / .entry-content
                / #post-##
              / #main
            / #primary
            #secondary.widget-area.col.col-1-of-3{:role => "complementary"}
              .sidebar
                %aside#media_image-7.widget.widget_media_image
                  %img.image.wp-image-16.attachment-medium.size-medium{:alt => "", :height => "200", :sizes => "(max-width: 300px) 100vw, 300px", :src => "/samples/pages/iStock-982199098-300x200.jpg", :style => "max-width: 100%; height: auto;", :width => "300"}/
                %aside#nav_menu-5.widget.widget_nav_menu
                  %header.entry-header
                    %h4.widget-title Choose Your Business
                  .menu-business-container
                    %ul#menu-business.menu
                      %li#menu-item-105.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-105
                        %a{:href => "/en/business1"} I am a Manufacturer
                      %li#menu-item-106.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-106
                        %a{:href => "/en/business2"} I am Retailer
                      %li#menu-item-103.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-103
                        %a{:href => "/en/business3"} I have an E-shop
                      %li#menu-item-104.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-94.current_page_item.menu-item-104
                        %a{:href => "/en/business4"} I have a retail shop/chain of retail shops
            / #secondary
          / .row
        / .container
      / #content
      {% include 'foot' %}
    / #page
    {% include 'cookie1' %}
    {% include 'cookie2' %}
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
      /* ]]> */
    :javascript
      /* <![CDATA[ */
      cli_cookiebar_settings='{"animate_speed_hide":"500","animate_speed_show":"500","background":"#FFF","border":"#b1a6a6c2","border_on":false,"button_1_button_colour":"#000","button_1_button_hover":"#000000","button_1_link_colour":"#fff","button_1_as_button":true,"button_1_new_win":false,"button_2_button_colour":"#333","button_2_button_hover":"#292929","button_2_link_colour":"#444","button_2_as_button":false,"button_3_button_colour":"#000","button_3_button_hover":"#000000","button_3_link_colour":"#fff","button_3_as_button":true,"button_3_new_win":false,"button_4_button_colour":"#000","button_4_button_hover":"#000000","button_4_link_colour":"#fff","button_4_as_button":true,"font_family":"inherit","header_fix":false,"notify_animate_hide":true,"notify_animate_show":false,"notify_div_id":"#cookie-law-info-bar","notify_position_horizontal":"right","notify_position_vertical":"bottom","scroll_close":false,"scroll_close_reload":false,"accept_close_reload":false,"reject_close_reload":false,"showagain_tab":true,"showagain_background":"#fff","showagain_border":"#000","showagain_div_id":"#cookie-law-info-again","showagain_x_position":"100px","text":"#000","show_once_yn":false,"show_once":"10000","logging_on":false,"as_popup":false,"popup_overlay":true,"bar_heading_text":"","cookie_bar_as":"banner","popup_showagain_position":"bottom-right","widget_position":"left"}';
      /* ]]> */
    :javascript
      /* <![CDATA[ */
      var wpcf7 = {"apiSettings":{"root":"http:\/\/soerensen.fr\/psi\/UK\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
      /* ]]> */
    {{ 'application.js' | javascript_tag }}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"1000","autoplayTimeout":"1000"};
      /* ]]> */
    
