---
title: Business4.da

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Product Data Lake - Let product data flow easily between trading partners
    %link{:href => "//www.soerensen.fr", :rel => "dns-prefetch"}/
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    {{ 'columns.css' | stylesheet_tag }}
    {{ 'styles.css' | stylesheet_tag }}
    {{ 'cookie-law-info-gdpr.css' | stylesheet_tag }}
    {{ 'cookie-law-info-public.css' | stylesheet_tag }}
    {{ 'meanmenu.css' | stylesheet_tag }}
    {{ 'grid.css' | stylesheet_tag }}
    {{ 'owl-carousel.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'responsive.css' | stylesheet_tag }}
    %link#font-awesome-css{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-fonts-css{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-662.page-parent.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_da' %}
      #content.site-content
        .container
          .row
            #primary.content-area.col.col-2-of-3
              %main#main.site-main{:role => "main"}
                %article#post-738.post-738.page.type-page.status-publish.hentry
                  %header.entry-header
                    %h1.entry-title 
                      {% editable_text block_header %}
                      Jeg har en detailbutik/kæde
                      {% endeditable_text %}
                  / .entry-header
                  .entry-content
                    .pf-content
                      {% editable_text block_content %}
                      %p Hav altid adgang til korrekte, fyldestgørende og opdaterede data om de produkter, du sælger. Alle dine leverandørers data konverteres til samme format, som du ønsker at modtage dem i. Deres produktdata ”pushes” automatisk videre til dit system i det omfang, du ønsker det. Så er dine kunder mere oplyste og trygge, og du sælger mere.
                      %p
                        %strong Undgå fejlbehæftede data
                        %br/
                        En væsentlig forudsætning for et salg er, at du har de rette og opdaterede informationer om de produkter, du køber, og at dine kunder har de rette informationer om dine produkter, når de skal købe dem.
                        %br/
                        Product Data Lake er en cloud-baseret løsning, som automatisk konverterer og ”pusher” produktdata fra dine leverandører ind i dit system, uanset hvilket system du bruger, og uanset hvilke systemer dine mange leverandører anvender. Du bestemmer, hvilke data du ønsker fra hver enkelt leverandør, og så sker der en automatisk opdatering i dit system, hver gang en af dine leverandører ændrer eller tilføjer noget. Product Data Lake kan anvendes alene eller som overbygning på gængse ERP- og PIM systemer (product data management). Afregningen sker alene på baggrund af den datamængde, du håndterer. Det sikrer dig en skalerbar og billig løsning
                      %p
                        %strong Forøg omsætningen
                        %br/
                        Hvordan sikrer du dig i dag, at du altid har korrekte og opdaterede produktdata? Modtager du kataloger, mails eller Excel-filer? Har du en supplier-portal, hvortil leverandørerne kan uploade data, eller henter du data ned individuelt fra hver enkelt leverandørs customer-portal? Måske gør du lidt af det hele. Uanset hvilken af disse løsninger du bruger, sikrer det dig ikke imod uopdaterede data og fejl i de produktdata, som du anvender. Hver gang der sker en individuel håndtering af data med menneskelig indblanding, er der risiko for fejl. Og det er også dyrt og besværligt for dig at skulle modtage og håndtere data på forskellig vis.
                        %br/
                        Tænk også på dine leverandører. De har mange kunder, som alle ønsker at modtage data på forskellige måder. Det er et stort arbejde og dyrt for for dem at tilpasse data til hver enkelt. Risikoen for fejl hos dem er også stor.
                      %p Product Data Lake løser problemet til stor fordel for dig som detailbutik og dine leverandører. Det giver i sidste ende meromsætning for jer alle.
                      %p
                        %strong
                          %br/
                          Facts om Product Data Lake – automatisk produktdata overførsel
                      %p
                        – Du sikrer dig altid at have adgang til korrekte og opdaterede data fra dine leverandører
                        %br/
                        – Du sikrer, at dine produktdata altid er opdaterede og korrekte
                        %br/
                        – Dine kunder bliver mere tilfredse ved altid at være fyldestgørende og korrekt informeret
                        %br/
                        – Dine leverandører sparer mange penge og mange arbejdstimer på at levere data til dig. Det styrker din position og forhandlingsgrundlag som kunde.
                        %br/
                        – Du sparer mange penge og mange arbejdstimer ved kun at skulle modtage produktdata i én form
                        %br/
                        – Du og dine leverandører opnår mersalg ved, at data altid er korrekte
                        %br/
                        – Du sparer penge og tid på fejlbestillinger og returneringer som følge af ukorrekte data
                        %br/
                        – Det er billigt at bruge Product Data Lake frem for alle andre andre former for udveksling af produktdata. Du afregnes kun for den datamængde, du bruger. Typisk fra kr. 1,- til kr. 3,- pr. produkt pr. år.
                      %p
                        %strong Få yderlige information
                        %br/
                        –
                        %a{:href => "da/information8"}
                          %em Send mig lidt mere information på mail
                        %br/
                        –
                        %a{:href => "/da/blog6"}
                          %em Tag vores lyntest der giver feedback på hvor effektivt du håndterer dine produktdata i dag
                        %br/
                        –
                        %a{:href => "/da/blog"}
                          %em Følg vores blog og bliv opdateret på nyheder og optimal håndtering produktdata.
                      {% endeditable_text %}    
                  / .entry-content
                / #post-##
              / #main
            / #primary
            #secondary.widget-area.col.col-1-of-3{:role => "complementary"}
              .sidebar
                %aside#media_image-19.widget.widget_media_image
                  %img.image.wp-image-1124.attachment-medium.size-medium{:alt => "", :height => "200", :sizes => "(max-width: 300px) 100vw, 300px", :src => "{% editable_file image %}/samples/pages/iStock-982199098-300x200.jpg{% endeditable_file %}", :style => "max-width: 100%; height: auto;", :width => "300"}/
                %aside#nav_menu-12.widget.widget_nav_menu
                  {% editable_text block_content1 %}
                  %header.entry-header
                    %h4.widget-title Vælg din business
                  .menu-business-container
                    %ul#menu-business.menu
                      %li#menu-item-970.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-970
                        %a{:href => "/da/business1"} Jeg er producent
                      %li#menu-item-968.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-968
                        %a{:href => "/da/business2"} Jeg er forhandler
                      %li#menu-item-972.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-972
                        %a{:href => "/da/business3"} Jeg har en e-shop
                      %li#menu-item-971.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-738.current_page_item.menu-item-971
                        %a{:href => "/da/business4"} Jeg har en detailbutik/kæde
                  {% endeditable_text %}      
            / #secondary
          / .row
        / .container
      / #content
      {% include 'foot_da' %}
    / #page
    {% include 'cookie1' %}
    {% include 'cookie2' %}
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
      /* ]]> */
    :javascript
      /* <![CDATA[ */
      cli_cookiebar_settings='{"animate_speed_hide":"500","animate_speed_show":"500","background":"#FFF","border":"#b1a6a6c2","border_on":false,"button_1_button_colour":"#000","button_1_button_hover":"#000000","button_1_link_colour":"#fff","button_1_as_button":true,"button_1_new_win":false,"button_2_button_colour":"#333","button_2_button_hover":"#292929","button_2_link_colour":"#444","button_2_as_button":false,"button_3_button_colour":"#000","button_3_button_hover":"#000000","button_3_link_colour":"#fff","button_3_as_button":true,"button_3_new_win":false,"button_4_button_colour":"#000","button_4_button_hover":"#000000","button_4_link_colour":"#fff","button_4_as_button":true,"font_family":"inherit","header_fix":false,"notify_animate_hide":true,"notify_animate_show":false,"notify_div_id":"#cookie-law-info-bar","notify_position_horizontal":"right","notify_position_vertical":"bottom","scroll_close":false,"scroll_close_reload":false,"accept_close_reload":false,"reject_close_reload":false,"showagain_tab":true,"showagain_background":"#fff","showagain_border":"#000","showagain_div_id":"#cookie-law-info-again","showagain_x_position":"100px","text":"#000","show_once_yn":false,"show_once":"10000","logging_on":false,"as_popup":false,"popup_overlay":true,"bar_heading_text":"","cookie_bar_as":"banner","popup_showagain_position":"bottom-right","widget_position":"left"}';
      /* ]]> */
    :javascript
      /* <![CDATA[ */
      var wpcf7 = {"apiSettings":{"root":"http:\/\/soerensen.fr\/psi\/UK\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
      /* ]]> */
    {{ 'application.js' | javascript_tag }}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"1000","autoplayTimeout":"1000"};
      /* ]]> */
    
