!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Product Data Lake - Let product data flow easily between trading partners
    %link{:href => "//www.soerensen.fr", :rel => "dns-prefetch"}/
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    {{ 'columns.css' | stylesheet_tag }}
    {{ 'styles.css' | stylesheet_tag }}
    {{ 'cookie-law-info-gdpr.css' | stylesheet_tag }}
    {{ 'cookie-law-info-public.css' | stylesheet_tag }}
    {{ 'meanmenu.css' | stylesheet_tag }}
    {{ 'grid.css' | stylesheet_tag }}
    {{ 'owl-carousel.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'responsive.css' | stylesheet_tag }}
    %link#font-awesome-css{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-fonts-css{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-662.page-parent.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_da' %}
      #main-slider
        .owl-carousel
          .item{:style => "background-image: url(/samples/pages/iStock-908478148-slide.jpg); "}
            / .caption
            /   %h2 Velkommen
            / / .caption
        .scroll-down-wrapper
          .scroll-down
            %a{:href => "#scroll"}
              .scroll-down-middle
              %span.fa.fa-angle-double-down
          / .scroll-down
        / .scroll-down-wrapper
      #primary-home.content-area
        %main#main.site-main{:role => "main"}
          %section.blog-news
            .container
              .row
                .col.col-1-of-1
                  %header.entry-header.heading
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file iStock1 %}/samples/pages/Gepard-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/da/information5"} Læs mere
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/da/information5"} 
                            {% editable_text block1_header %}
                            Hold dig ajour med den seneste udvikling
                            {% endeditable_text %}

                      / .entry-header
                      .entry-content
                        {% editable_text block1_content %}
                        %p Ønsker du at holde dig a jour med hvad der sker inden for Big data,...
                        {% endeditable_text %}
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file iStock2 %}/samples/pages/iStock-873806068-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/da/information4"} Læs mere
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/da/information4"} 
                            {% editable_text block2_header %}
                            Nye kunder får en gratis prøveperiode på 2 måneder
                            {% endeditable_text %}
                      / .entry-header
                      .entry-content
                        {% editable_text block1_content %}
                        %p Log på Product Data Lake og test. Første måned er gratis. Du kan også sende...
                        {% endeditable_text %}
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file iStock3 %}/samples/pages/iStock-912944158-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/da/information2"} Læs mere
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/da/information2"} 
                            {% editable_text block3_header %}
                            Bliv Ambassadør for Product Data Lake
                            {% endeditable_text %}
                      / .entry-header
                      .entry-content
                        {% editable_text block1_content %}
                        %p Synes du at Product Data Lakes syn på den fremtidige måde at dele produktdata på...
                        {% endeditable_text %}
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file iStock4 %}/samples/pages/Gepard-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/da/information1"} Læs mere
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/da/information1"} 
                            {% editable_text block4_header %}
                            Lyntest Jeres virksomhed
                            {% endeditable_text %}
                      / .entry-header
                      .entry-content
                        {% editable_text block1_content %}
                        %p Test om Jeres virksomhed udveksler produktdata i sneglefart eller som som en gepard.. powered by...
                        {% endeditable_text %}
                    / .blog-content
                  / .blog-post
                / .col
              / .row
            / .container
          / .blog-news
        / #main
      / #primary
      #content.site-content
        .container
          .row
          / .row
        / .container
      / #content
      {% include 'foot_da' %}
    / #page
    {% include 'cookie1' %}
    {% include 'cookie2' %}
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
      /* ]]> */
    :javascript
      /* <![CDATA[ */
      cli_cookiebar_settings='{"animate_speed_hide":"500","animate_speed_show":"500","background":"#FFF","border":"#b1a6a6c2","border_on":false,"button_1_button_colour":"#000","button_1_button_hover":"#000000","button_1_link_colour":"#fff","button_1_as_button":true,"button_1_new_win":false,"button_2_button_colour":"#333","button_2_button_hover":"#292929","button_2_link_colour":"#444","button_2_as_button":false,"button_3_button_colour":"#000","button_3_button_hover":"#000000","button_3_link_colour":"#fff","button_3_as_button":true,"button_3_new_win":false,"button_4_button_colour":"#000","button_4_button_hover":"#000000","button_4_link_colour":"#fff","button_4_as_button":true,"font_family":"inherit","header_fix":false,"notify_animate_hide":true,"notify_animate_show":false,"notify_div_id":"#cookie-law-info-bar","notify_position_horizontal":"right","notify_position_vertical":"bottom","scroll_close":false,"scroll_close_reload":false,"accept_close_reload":false,"reject_close_reload":false,"showagain_tab":true,"showagain_background":"#fff","showagain_border":"#000","showagain_div_id":"#cookie-law-info-again","showagain_x_position":"100px","text":"#000","show_once_yn":false,"show_once":"10000","logging_on":false,"as_popup":false,"popup_overlay":true,"bar_heading_text":"","cookie_bar_as":"banner","popup_showagain_position":"bottom-right","widget_position":"left"}';
      /* ]]> */
    :javascript
      /* <![CDATA[ */
      var wpcf7 = {"apiSettings":{"root":"http:\/\/soerensen.fr\/psi\/UK\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
      /* ]]> */
    {{ 'application.js' | javascript_tag }}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"1000","autoplayTimeout":"1000"};

      var list1en = "/da/blog1,/da/blog2,/da/blog3,/da/blog4,/da/blog5,/da/blog6,/da/blog7,/da/business1,/da/business2,/da/business3,/da/business4,/da/information1,/da/information2,/da/information3,/da/information4,/da/information5,/da/information6,/da/information7,/da/log1,/en/technical1,/da/technical2,/da/technical3,/da/technical4,/da/technical5,/da/technical6,/da/wellcome1,/da/wellcome2";

      var list2en = "The Long Tail of Product Data Synchronization,Hold dig ajour med den seneste udvikling,Gratis prøveperiode, Hvad kan vi?, Bliv Ambassadør for Product Data Lake, Lyntest Jeres virksomhed,Velkommen,Jeg er producent,Jeg er forhandler,Jeg har en e-shop,Jeg har en detailbutik/kæde,Lyntest Jeres egen virksomhed,Bliv ambassadør for Product Data Lake,Priser,Gratis prøveperiode,Hold dig a jour,Q &a A,Se vores film,Opret bruger,Product Data Syndication Freedom,Metadata Management and International Standards,Data Lake and Business Ecosystems,Cross Company Data Governance,Artificial Intelligence and Machine Learning,Getting Started and Documentation,Om Product Lake Data,Sådan kommer du i gang"

      var list3en = "When discussing with peers and interested parties about Product Data Lake So what is the difference between those services and Product Data Lake. Electronic Data Interchange (EDI) is the concept of businesses electronically communicating information that was traditionally communicated on paper such as purchase orders and invoices. EDI also has a product catalog functionality encompassing: Seller name and contact information Terms of sale information including discounts available Item identification and description Item physical details including type of packaging Item pricing information including quantity and unit of measure The Global Data Synchronization Network (GDSN) is an internet-based interconnected network of interoperable data pools and a global registry known as the GS1 Global Registry that enables companies around the globe to exchange standardised and synchronised supply chain data with their trading partners using a standardised Global Product Classification (GPC).This service focuses on retail healthcare food-service and transport / logistics. In some geographies GS1 is also targeting DIY – do it yourself building materials and tools for consumers.Product Data Lake is a cloud service for sharing product information (product data syndication) in the business ecosystems of manufacturers distributors / wholesalers merchants marketplaces and large end users of product information.Our vision is that Product Data Lake will be the process driven key service for exchanging any sort of product information within business ecosystems all over the world with the aim of optimally assist self-service purchase – both B2C and B2B – of every kind of product.In that way Product Data Lake is the long tail of product data synchronization supplementing EDI and GDSN for a long range of product groups product attributes digital assets product relationships and product classification systems: Find out more in the Product Data Lake Overview,Ønsker du at holde dig a jour med hvad der sker inden for Big data Product Data Management og Product Information Management så tilmeld dig. Så mailer vi når der er nye trends nye løsninger eller andre spændende nyheder på vej her Tilmeld dig nyhedsbrev Følg Product Data Lake på,Log på Product Data Lake og test. Første måned er gratis. Du kan også sende os en mail så hjælper vi dig igang. Send mail her., Udveksling af fyldestgørende og opdaterede produktinformationer imellem handelspartnere (producenter grossister forhandlere detailbutikker og e-shops) er afgørende for at alle led opnår den højeste omsætning. Men stort set ingen af de eksisterende IT-løsninger som anvendes i dag sikrer at alle led får produktinformationerne til tiden opdaterede fyldestgørende fejlfrie og omkostningseffektivt. Den nye IT-løsning som kan sikre at disse afgørende parametre opfyldes hedder: Product Data Lake. En simpel og billig cloud løsning som kan anvendes i alle brancher og som kan kobles på alle gængse ERP og PIM (product information management) systemer. Med få klik kan du se hvad din virksomhed kan opnå ved at bruge en Product Data Lake løsning,Synes du at Product Data Lakes syn på den fremtidige måde at dele produktdata på er lige så spændende som vi gør så blev en del af vores team. Vi ønsker at tilknytte ambassadører der kan bidrage og spare med os om den fortsatte udvikling samt tilknytte virksomheder der ønsker at bruge systemet. Her finder du mere information om vores ambassadørkoncept: Product Data Lake Ambassador,Test om Jeres virksomhed udveksler produktdata i sneglefart eller som som en gepard..,Velkommen, Gør det nemt billigt og effektivt for dine kunder at købe dine produkter og videresælge dem. Dine produktdata ”pushes” automatisk videre til dine kunder. Så sælger både du og de mere.En væsentlig forudsætning for et salg er at dine kunder har de rette informationer om dine produkter når de skal købe og videresælge dem.Product Data Lake er en cloud-baseret løsning som automatisk konverterer og ”pusher” produktdata fra dit system ud til dine kunder og ind i deres systemer i det format hver enkelt kunde foretrækker. Og det er uanset hvilket system du bruger og dine kunder bruger. Du bestemmer hvilke data hver enkelt kunde skal have og der sker en automatisk opdatering i deres systemer. Product Data Lake kan anvendes alene eller som overbygning på gængse ERP- og PIM systemer (product data management). Du afregner kun for den mængde data der sendes igennem systemet. Det garanter dig den billigste og mest skalerbare løsning. Undgå fejlbehæftede data Hvordan sikrer du dig i dag at alle dine kunder konstant har dine opdaterede produktdata? Sender du dem et katalog en mail eller en Excel-fil? Har du en customer-portal hvor de kan downloade data fra eller lægger du data individuelt op på hver enkelt kundes supplier-portal? Måske gør du lidt af det hele. Uanset hvilken af disse løsninger du bruger sikrer det dig ikke imod uopdaterede data og fejl i de produktdata som dine kunder anvender. Og det er også dyrt og besværligt for dig at skulle levere data på forskellig vis til alle dine kunder.Forøg omsætningen Husker kunderne nu også at opdatere dine informationer så snart du gør dem tilgængelige? 0g hvis kunderne skal behandle data manuelt hvordan minimerer de så risikoen for fejl? Tænk på at dine kunder måske har mange forskellige leverandører som alle gerne hver især vil presse dem til at opdatere netop deres data med det samme. Det er et stort arbejde og dyrt for kunderne at skulle håndtere alle disse data som kommer i mange forskellige versioner og risikoen for at der sker fejl er stor. Hvis dine kunder ikke behandler dine produktdata korrekt og rettidigt mister du i sidste ende omsætning.Product Data Lake løser problemet til stor fordel for dig som producent dine kunder og dine kunders kunder som kan være detailbutikker og webshops.Facts om Product Data Lake – automatisk produktdata overførsel– Du sikrer at dine produktdata altid er opdaterede og korrekte hos alle dine kunder og hos deres kunder– Du opnår konkurrencefordel ved at gøre det nemt– Dine kunder bliver mere tilfredse– Dine kunders kunder bliver mere tilfredse– Dine kunder sparer mange penge og mange arbejdstimer på håndtering af dine produktdata– Du sparer mange penge og mange arbejdstimer ved kun at skulle levere produktdata i én form– Du og dine kunder opnår mersalg ved at data altid er korrekte– Du og dine kunder sparer penge på fejlbestillinger og returneringer som følge af ukorrekte data.– Det er billigt at bruge Product Data Lake frem for alle andre andre former for udveksling af produktdata da afregningen er variabel og alene sker på baggrund af den mængde data der sendes igennem systemet. Typisk fra 1-3 kr. pr. produkt pr. år., Gør det nemt billigt og effektivt for dine kunder at købe dine produkter og videresælge dem. Dine produktdata ”pushes” automatisk videre til dine kunder. Så sælger både du og de mere.Og få ligeledes nemt billigt og effektivt alle de produktdata du har brug for fra dine leverandører. Disse data ”pushes” også automatisk ind i dit system uden menneskelig indblanding. Så sparer du mange omkostninger og meget tid på denne proces.En væsentlig forudsætning for et salg er at dine kunder har de rette informationer om dine produkter når de skal købe og videresælge dem.Product Data Lake er en cloud-baseret løsning som automatisk konverterer og ”pusher” produktdata fra dit system ud til dine kunder og ind i deres systemer i det format som hver enkelt kunde foretrækker. Og det er uanset hvilket system du eller dine kunder bruger. Du bestemmer hvilke data hver enkelt kunde skal have og der sker en automatisk opdatering i deres systemer. Product Data Lake kan anvendes alene eller som overbygning på gængse ERP- og PIM systemer (product data management). Afregningen sker alene på baggrund af den datamængde du håndterer. Det sikrer dig en skalerbar og billig løsning.Undgå fejlbehæftede data Hvordan sikrer du dig i dag at alle dine kunder til enhver tid har dine opdaterede produktdata? Sender du dem et katalog en mail eller en Excel-fil? Har du en customer-portal hvorfra de kan downloade data eller lægger du data individuelt op på hver enkelt kundes supplier-portal? Måske gør du lidt af det hele. Uanset hvilken af disse løsninger du bruger sikrer det dig ikke imod uopdaterede data og fejl i de produktdata som dine kunder anvender. Desuden er det dyrt og besværligt for dig at skulle levere data på forskellige måder til alle dine kunder.Forøg omsætningen Husker kunderne nu også at opdatere dine informationer så snart du gør dem tilgængelige? 0g hvis kunderne skal behandle data manuelt hvordan minimerer de så risikoen for fejl? Tænk på at dine kunder måske har mange forskellige leverandører som alle gerne hver især vil presse dem til at opdatere netop deres data med det samme. Det er et stort arbejde og dyrt for kunderne at skulle håndtere alle disse data som kommer i mange forskellige versioner. Risikoen for at der sker fejl er stor og hvis dine kunder ikke behandler dine produktdata korrekt og rettidigt mister du i sidste ende omsætning. Hvordan modtager du forresten produktdata fra dine leverandører? Er det igen via mail filer eller skal du ind på diverse portaler og downloade data? Problemstillingen er den samme i alle led. Det er dyrt besværligt og samtidigt forbundet med stor risiko for fejl når alle ønsker at levere og modtage data på forskellig vis.Product Data Lake løser problemet til stor fordel for dig som forhandler dine leverandører og dine kunder som typisk kan være detailbutikker og webshops.Facts om Product Data Lake – automatisk produktdata overførsel – Du sikrer at dine produktdata altid er opdaterede og korrekte hos alle dine kunder– Du opnår konkurrencefordel ved at gøre det nemt og effektivt for dine kunder at handle med dig– Dine kunder bliver mere tilfredse– Dine kunders kunder bliver mere tilfredse– Dine kunder sparer mange penge og mange arbejdstimer på håndtering af dine produktdata– Du sparer mange penge og mange arbejdstimer ved kun at skulle levere produktdata i én form– Du og dine kunder opnår mersalg ved at data altid er korrekte– Du og dine kunder sparer penge på fejlbestillinger og returneringer som følge af ukorrekte data – Du sikrer dig at du altid får dine leverandørers data i det format der passer dig– Det er billigt at bruge Product Data Lake frem for alle andre andre former for udveksling af produktdata. Du afregnes kun for den datamængde du bruger. Typisk fra kr. 1- til kr. 3- pr. produkt pr. år., Hav altid adgang til korrekte fyldestgørende og opdaterede data om de produkter du sælger. Alle dine leverandørers data konverteres til samme format som du ønsker at modtage dem i. Deres produktdata ”pushes” automatisk videre til dit system i det omfang du ønsker det. Så er dine kunder mere oplyste og trygge og du sælger mere.Undgå fejlbehæftede data En væsentlig forudsætning for et salg er at du har de rette og opdaterede informationer om de produkter du køber og at dine kunder har de rette informationer om dine produkter når de skal købe dem.Product Data Lake er en cloud-baseret løsning som automatisk konverterer og ”pusher” produktdata fra dine leverandører ind i dit system uanset hvilket system du bruger og uanset hvilke systemer dine mange leverandører anvender. Du bestemmer hvilke data du ønsker fra hver enkelt leverandør og så sker der en automatisk opdatering i dit system hver gang en af dine leverandører ændrer eller tilføjer noget. Product Data Lake kan anvendes alene eller som overbygning på gængse ERP- og PIM systemer (product data management). Afregningen sker alene på baggrund af den datamængde du håndterer. Det sikrer dig en skalerbar og billig løsning.Forøg omsætningen Hvordan sikrer du dig i dag at du altid har korrekte og opdaterede produktdata? Modtager du kataloger mails eller Excel-filer? Har du en supplier-portal hvortil leverandørerne kan uploade data eller henter du data ned individuelt fra hver enkelt leverandørs customer-portal? Måske gør du lidt af det hele. Uanset hvilken af disse løsninger du bruger sikrer det dig ikke imod mangelfulde opdateringer og fejl i de produktdata som du anvender. Hver gang der sker en individuel håndtering af data med menneskelig indblanding er der risiko for fejl. Og det er også dyrt og besværligt for dig at skulle modtage og håndtere data på forskellig vis.Tænk også på dine leverandører. De har mange kunder som alle ønsker at modtage data på forskellige måder. Det er et stort arbejde og dyrt for for dem at tilpasse data til hver enkelt. Risikoen for fejl hos dem er også stor.Product Data Lake løser problemet til stor fordel for dig som webshop og dine leverandører. Det giver i sidste ende meromsætning for jer alle.Facts om Product Data Lake – automatisk produktdata overførsel– Du sikrer dig altid at have adgang til korrekte og opdaterede data fra dine leverandører – Du sikrer at dine produktdata altid er opdaterede og korrekte– Dine kunder bliver mere tilfredse ved altid at være fyldestgørende og korrekt informeret– Dine leverandører sparer mange penge og mange arbejdstimer på at levere data til dig. Det styrker din position og forhandlingsgrundlag som kunde.– Du sparer mange penge og mange arbejdstimer ved kun at skulle modtage produktdata i én form– Du og dine leverandører opnår mersalg ved at data altid er korrekte– Du sparer penge og tid på fejlbestillinger og returneringer som følge af ukorrekte data– Det er billigt at bruge Product Data Lake frem for alle andre andre former for udveksling af produktdata. Du afregnes kun for den datamængde du bruger. Typisk fra kr. 1- til kr. 3- pr. produkt pr. år.,Hav altid adgang til korrekte fyldestgørende og opdaterede data om de produkter du sælger. Alle dine leverandørers data konverteres til samme format som du ønsker at modtage dem i. Deres produktdata ”pushes” automatisk videre til dit system i det omfang du ønsker det. Så er dine kunder mere oplyste og trygge og du sælger mere.Undgå fejlbehæftede dataEn væsentlig forudsætning for et salg er at du har de rette og opdaterede informationer om de produkter du køber og at dine kunder har de rette informationer om dine produkter når de skal købe dem.Product Data Lake er en cloud-baseret løsning som automatisk konverterer og ”pusher” produktdata fra dine leverandører ind i dit system uanset hvilket system du bruger og uanset hvilke systemer dine mange leverandører anvender. Du bestemmer hvilke data du ønsker fra hver enkelt leverandør og så sker der en automatisk opdatering i dit system hver gang en af dine leverandører ændrer eller tilføjer noget. Product Data Lake kan anvendes alene eller som overbygning på gængse ERP- og PIM systemer (product data management). Afregningen sker alene på baggrund af den datamængde du håndterer. Det sikrer dig en skalerbar og billig løsningForøg omsætningenHvordan sikrer du dig i dag at du altid har korrekte og opdaterede produktdata? Modtager du kataloger mails eller Excel-filer? Har du en supplier-portal hvortil leverandørerne kan uploade data eller henter du data ned individuelt fra hver enkelt leverandørs customer-portal? Måske gør du lidt af det hele. Uanset hvilken af disse løsninger du bruger sikrer det dig ikke imod uopdaterede data og fejl i de produktdata som du anvender. Hver gang der sker en individuel håndtering af data med menneskelig indblanding er der risiko for fejl. Og det er også dyrt og besværligt for dig at skulle modtage og håndtere data på forskellig vis.Tænk også på dine leverandører. De har mange kunder som alle ønsker at modtage data på forskellige måder. Det er et stort arbejde og dyrt for for dem at tilpasse data til hver enkelt. Risikoen for fejl hos dem er også stor.Product Data Lake løser problemet til stor fordel for dig som detailbutik og dine leverandører. Det giver i sidste ende meromsætning for jer alle.Facts om Product Data Lake – automatisk produktdata overførsel– Du sikrer dig altid at have adgang til korrekte og opdaterede data fra dine leverandører– Du sikrer at dine produktdata altid er opdaterede og korrekte– Dine kunder bliver mere tilfredse ved altid at være fyldestgørende og korrekt informeret– Dine leverandører sparer mange penge og mange arbejdstimer på at levere data til dig. Det styrker din position og forhandlingsgrundlag som kunde.– Du sparer mange penge og mange arbejdstimer ved kun at skulle modtage produktdata i én form– Du og dine leverandører opnår mersalg ved at data altid er korrekte– Du sparer penge og tid på fejlbestillinger og returneringer som følge af ukorrekte data– Det er billigt at bruge Product Data Lake frem for alle andre andre former for udveksling af produktdata. Du afregnes kun for den datamængde du bruger. Typisk fra kr. 1- til kr. 3- pr. produkt pr. år., Typeform , Synes du at Product Data Lakes syn på den fremtidige måde at dele produktdata på er lige så spændende som vi gør så blev en del af vores team. Vi ønsker at tilknytte ambassadører der kan bidrage og spare med os om den fortsatte udvikling samt tilknytte virksomheder der ønsker at bruge systemet.Her finder du mere information om vores ambassadørkoncept: Product Data Lake Ambassador ,Der findes følgende niveauer ved årlig forudbetaling: Priserne er eksklusiv moms. Endvidere tilbydes en efterbetalt model med kvartalsvis afregning efter forbrug hvor der er mindre spring mellem niveauerne. Skriv til info@productdatalake.com for mere information. I begge tilfælde tilbydes en 2 måneders gratis prøveperiode.Lige nu tilbydes også 2 timers gratis support til opstart så i kan komme godt igang., Nye kunder får en gratis prøveperiode på 2 måneder. Så kan I teste funktionaliteten inden I bestemmer jer. Opret en bruger eller kontakt os så hjælper vi Jer i gang. , Ønsker du at holde dig a jour med hvad der sker inden for Big data Product Data Management og Product Information Management så tilmeld dig Tilmeld dig nyhedsbrev Følg Product Data Lake på Linkedin Følg Product Data Lake på Twitter , Her er ofte stillede spørgsmål og svar om Product Data Lake (PDL). Spørgsmål 1- 6 er af almen karakter. Spørgsmål 7- 9 er specielt for dem der har behov for at afgive data til samhandelspartnere typisk producenter og forhandlere. Spørgsmål 10 – 12 er specielt for dem der har behov for at modtage data fra samhandelspartnere typisk detailledet og webshops. Generelt Hvordan funger PDL? PDL er en cloud-baseret løsning som alle kan tilgå med en webbrowser. Så snart du har fået dit login er du online med alle dine kunder forudsat de også har en login og at I har accepteret jeres partnerskab. Det fungerer faktisk ligesom på et socialt netværk. Den daglige udveksling af produktinformationer kan sættes op til at ske automatisk via FTP filudveksling eller APIer som program-til-program udveksling. Du vælger selv din udvekslingsform og dine samhandelspartnere vælger selv deres udvekslingsform. Hvad koster det at bruge PDL? PDL er 100% skalerbart. Du betaler kun for den mængde data du sender og modtager igennem systemet. Typisk koster det fra 1 – 3 kroner pr. produktnummer pr. år afhængig af antallet af produkter filer samhandelspartnere og brugere.Er PDL det samme som et PIM (Product Information Management) system? Nej. PDL er et system der automatisk udveksler produktdata imellem samhandelspartnere. Et PIM- system er et in-house system der holder styr på egne produktdata og som i de færreste tilfælde er koblet sammen med andre samhandelspartneres systemer. 4) Man hører så meget om cloud løsninger. Hvorfor er det så smart? Mange virksomheder står med mange af de samme udfordringer til administration salg økonomistyring etc. I stedet for at hver enkelt opbygger egne systemer som koster uforholdsmæssigt mange penge så er det billigt og fleksibelt at trække på et system der allerede er udviklet og velfungerende. Og så betaler man typisk kun for det omfang man trækker på systemet og der er ikke nogen grænse for hvor mange data og hvor mange brugere der kan kobles op.  5) Er det ikke usikkert at mine data ligger i en Cloud? Alt kan hackes. Både cloud-systemer og egne systemer. Det ene er ikke mere usikkert end det andet. Men der er mindre risiko for at en cloud-baseret tjeneste hackes da sikkerheden er højt prioriteret på grund af de mange brugere. Formentlig er sikkerheden højere end for de fleste in-house systemer. 6) Hvad er forskellen på en ”Cloud” og en ”Lake”?  En sky og en sø er ikke det samme men i relation til IT er der fællestræk. Data og systemer ligger uden for virksomheden og tilgås via nettet. Men en ”cloud” er ofte udtryk for at man har adgang til et program mens en ”lake” ofte er udtryk for opbevaring af store mængder data. Derfor er PDL en cloud-løsning med adgang til de store mængder produktdata som ligger i ”lake´en” Afgivelse af produktinformationer 7) Hvorfor er det smartere at bruge Product Data Lake (PDL) end at sende et dokument eller en fil med produktoplysninger til mine kunder?  Når du en gang har lagt dine produktinformationer ind i PDL kan alle dine kunder koble sig op og få dine informationer akkurat som de ønsker. Nogle vil gerne selv taste data ind i eget system mens andre gerne vil have dem ”push´et” automatisk ind i eget system. Uanset ønsker og hvilke systemer dine kunder bruger tilpasser PDL dine data til hver enkelt kundes ønsker og behov. Du og dine kunder sparer en masse tid og arbejdskraft ved at bruge PDL og der er minimal risiko for fejl da der ikke sker manuel bearbejdning af data. 8) Jeg overvejer at opbygge mit eget PIM (Product Information Management) system så mine kunder selv kan downloade fra min kundeportal. Det er vel det samme som at bruge PDL? Nej. Et PIM-system er et in-house system. Det snakker sjældent sammen med dine samhandelspartneres systemer. Så selvom det er det samme arbejde for dig at lægge dine produktinformationer ind i PDL og et PIM system er det et stort arbejde for dine kunder at skulle downloade og konvertere data fra dit PIM-system via din kundeportal ind i deres egne systemer. Hvis du bruger PDL kan dine data automatisk pushes ind i dine kunders systemer uden menneskelig indblanding.Og så er der lige det med omkostningerne. Et PIM-system kan nemt koste på den forkerte side af en million at installere samt rigtig mange interne ressourcer. En PDL-løsning kan du koble dig på med det samme og du betaler kun efter forbrug (typisk fra kr. 1 – 3 pr. produkt pr. år). 9) Jeg har allerede et PIM (Product Information Management) system som fungerer fint og som mine medarbejdere er trygge ved. Så er det vel ikke aktuelt at tale om en PDL-løsning lige nu?  Det er godt hvis du har et velfungerede PIM-system som alle er trygge ved. Men det kobler dig imidlertid ikke sammen med dine kunder. Kunderne skal stadig bruge meget tid og mange penge på at hente data ned fra mange forskellige portaler konvertere data og lægge dem ind i egne systemer. Men PDL kan lægges ”oven” på dit PIM-system så dine medarbejdere kan fortsætte med at bruge PIM- systemet og så trækker PDL automatisk de data du ønsker fra dit PIM-system og skubber dem ud i det omfang og det format som dine kunder har defineret i PDL. Så jo det styrker absolut handlen med dine kunder at I bliver koblet sammen omkring udveksling af produktdata. Modtagelse af produktinformationer 10) Vi har en leverandørportal hvor vores samhandelspartnere kan uploade deres informationer. Det fungerer fint for os. Så er der vel ingen grund til også at skulle bruge PDL? Hvis I er ”storebror” i samhandlen med jeres leverandører er det jo fint hvis man kan få alle til at lægge deres data op hver især. Men tænk på det store arbejde det er for jeres leverandører at skulle lægge data op til hver eneste samhandelspartner. Og tænk på risikoen for fejl og på at jeres leverandører ikke får opdateret data i tide på grund af det store arbejde. Så vil det være smart hvis I blot lod PDL overføre jeres leverandørers data via jeres portal. Og måske støder I en dag på en leverandør som er så stor at det er ham der er ”storebror” og derfor vil bestemme hvordan han afleverer sine data til jer. Så ville en PDL-løsning med det samme gøre det nemt for både leverandør og forhandler. Vi modtager data på alle mulige måder i dag. Det er et kæmpe arbejde for os at håndtere det. Men hvordan løser vi det? I kobler jer op på PDL. I fortæller jeres leverandører at I fremover ønsker at de indberetter deres data til jer via PDL. Det er det samme arbejde for dem. I modtager så helt automatisk ensrettede og opdaterede data direkte i jeres system. I sparer tid og penge og undgår fejl og jeres leverandører opdager at de nu kun behøver at uploade deres data ét sted hvorfra dataene kan sendes til alle deres kunder. De opnår således de samme besparelser og fordele som jer. Vi hjælper gerne med at også at få jeres leverandører koblet på. 12) Mange af vores leverandører har deres egne portaler som vi skal ind på for at hente data. Kan det ikke gøres smartere? Jo. I kobler jer op på PDL og beder om at jeres leverandørerer også kobler deres portaler på. Så sker der en automatisk overførsel af produktdata fra jeres leverandører til jer. Der er i jeres leverandørers interesse at I altid er opdateret med deres produktinformationer så de vil lytte til jeres ønsker., , Opret dig i Product Data Lake og inviter evt. en af dine samhandelspartnere til at gøre det samme. Så kan i med det samme og uden omkostninger begynde at udveksle informationer. Opret dig her Her finder du en vejleding om hvordan du opretter dit firma med dig selv som den første bruger hos jer: Product Data Lake Getting Started Her finder du vores brugsbetingelser og privatpolitik: Product Data Lake Terms of Service and Privacy Policy. , Product Data Lake offers product data syndication freedom by letting manufacturers push product information using their data standards and their preferred exchange method and merchants pull product information using their data standards and their preferred exchange method. Product Data Lake is built to ensure product data quality by achieving: Completeness Timeliness Conformity Consistency Accuracy Get the Product Data Lake Overview , Trading partners can share product information either using the same metadata or linking their different metadata. Using international national and industry standards for product information will be the perfect solution within business ecosystem sharing of metadata and indeed this is the preferred option we support. However there are many competing standards for product information and they come in developing versions so having everyone on the same page at the same time is quite utopic. Add to that everyone do not speak English – and even not the same variant of English. Metadata originates and should exist in the languages that is used in trading partnerships. In Product Data Lake we have these principles: Product attributes can be tagged with an attribute type telling about what standard (if any) in terms of product identification product classification or product feature it adheres to. Attribute short and long descriptions can be represented in different languages. Trading partners can link their product attributes and have visibility in Product Data Lake of the standards and descriptions used in the different languages they exist. Examples of standards covered are UNSPSC GPC ETIM eClass and Harmonized System for commodity codes. Explore Our 10 Business Benefits , Sharing product data within business ecosystems has grown dramatically during the last years driven by the increased use of ecommerce and other customer self-service sales approaches. Most initiatives around handling product data has been focused on internal processes and technology and there are many viable solutions for that today. However we have not seen many solutions that solves the problems in the exchange zones between trading partners Product Data lake uses emerging technology to connect manufacturers and merchants. A data lake is a concept with growing popularity related to big data. A data lake focuses less on predefined standards but makes variant use of data by the time needed possible. Product Data Lake streamlines and automate your business processes within Product Data Syndication by using the data lake concept. Get the Product Data Lake Overview , When sharing data in a cross company context you will need to expand your data governance framework to cope with the challenges in doing that. Therefore Product Data Lake have established a partnership with one of the most recommended authorities in data governance: Nicola Askham – the Data Governance Coach.For a quick overview please have a look at the Cross Company Data Governance Framework Please request more information The triangular and pyramid graphics are trademarks of Nicola Askham Ltd. Explore Our 10 Business Benefits ,The aim of the Product Data Lake service is to translate between the different taxonomies in use at trading partners for example when a manufacturer shares his product information with a merchant. In some cases the manufacturer the provider of product information may use the same standard for product information as the merchant. This may be deep standards as eCl@ss and ETIM or pure product classification standards as UNSPSC. In this case we can apply deterministic matching of the classifications and the attributes (also called properties or features). However most often there are uncovered areas even when two trading partners share the same standard. And then again the most frequent situation is that the two trading partners are using different standards. In that case we initially will use human resources to do the linking. Our data governance framework for that includes upstream (manufacturer) responsibility downstream (merchant) responsibility and our ambassador concept. As always applying too much human interaction is costly time consuming and error prone. Therefore we are very eagerly training our machines to be able to do this work in a cost-effective way within a much shorter time frame and with a repeatable and consistent outcome to the benefit of the participating manufacturers merchants and other enterprises involved in exchanging products and the related product information. In that quest we are participating in the  Global Community for Artificial Intelligence in MDM.Explore Our 10 Business Benefits , Learn how to create an account for your company with you as the first user here: Product Data Lake Getting Started. Learn how to manage the attributes (metadata) your company is using and how to link them to those of your trading partners here: Product Data Lake Manage Attributes Learn how to manage the product portfolio at your company and how to link this to those of your trading partners here: Product Data Lake Manage Products. Learn how to exchange products attributes relations and digital assets with your trading partners here: Product Data Lake Data Exchange. Interested in knowing what is behind the scenes at Product Data lake? Learn it here: Product Data Lake Architecture. Explore Our 10 Business Benefits , Product Data Lake (PDL) er en fuldt udviklet cloud baseret IT-løsning til udveksling af produktdata imellem handelspartnere. PDL er ”drop box” lignende tjeneste hvor 2 handelspartnere kan udveksle produktinformationer helt automatisk. PDL kan også binde handelspartneres ERP og PIM systemer sammen. Når en part ”up loader” data ”pushes” de automatisk ind i ”Product Data Lake” som så konverterer dem til at kunne pushes videre ind i samhandelspartnernes forskellige systemer. Hver enkelt partner har en unik profil så det er kun de informationer som ”up loader´en” bestemmer hver enkelt partner skal have som frigives.%p PDL er udviklet af specialister med den største viden og erfaring inden for Big Data og Master Data Magement systemer og med stor viden om den teknolog der kommer til styre fremtidens løsninger inden for udveksling af produktdata. Det gælder på tværs af brancher og lande.%p Product Data Lake drives af Henrik Engel CEO og Henrik Liliendahl CTO., Det er nemt at komme igang og prøve Product Data Lake. Opret en konto og begynd at lægge dine data ind. Det er den bedste måde at prøve systemet af på uden det koster dig noget. De 2 første måneder er gratis. Følg vejledning Getting started. Vi hjælper dig hvis du skulle have brug for hjælp eller ønsker mere information. Kontakt os her – link";
      var array_1en = list1en.split(",");
      var array_2en = list2en.split(",")
      var array_3en = list3en.split(",")

      var url = window.location.href
      var result = [];
      if (url.includes("s=")){
        $("#main-slider").empty();
        $("#primary-home").empty();
        string_search = url.split("s=")[1]
        var i;
        for (i = 0; i < array_3en.length; i++) { 
          if (  ( array_3en[i].includes(string_search) ) || (array_2en[i].includes(string_search)) ) {
            result.push(i)
          }
        }
        var html = ``;
        for (i = 0; i < result.length; i++) { 
          html = html + `
          <article class="post-category-wrapper post-914 page type-page status-publish hentry">
            <header class="entry-header">
              <h2 class="entry-title"><a href="`+ array_1en[result[i]] +`" rel="bookmark">`+ array_2en[result[i]] +`</a></h2>
                </header><!-- .entry-header -->

            <div class="entry-summary">
              <p>`+array_3en[result[i]].substring(0,200)+` […]</p>
            </div><!-- .entry-summary -->
            
          </article><!-- #post-## -->
        `
        }

        if (result.length > 0){
          $("#primary-home").addClass("container"); 
          $("#primary-home").html(`
            <div class="row">
              <section id="primary" class="content-area col col-2-of-3">
                <main id="main" class="site-main" role="main">
                  <header class="page-header">
                    <h1 class="page-title">Search Results for: <span>`+string_search+`</span></h1>
                  </header>
                  `+html+`
                </main><!-- #main -->
              </section><!-- #primary -->
            </div>  
        `);  
         
        }else {
          $("#primary-home").addClass("container"); 
          $("#primary-home").html(`
            <div class="row">
            <section id="primary" class="content-area col col-2-of-3">
              <main id="main" class="site-main" role="main">
            <section class="no-results not-found">
              <header class="page-header">
                <h1 class="page-title">Nothing Found</h1>
              </header><!-- .page-header -->

              <div class="page-content">
                
                  <p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
                  <form role="search" method="get" class="search-form" action="">
                    <label>
                      <span class="screen-reader-text">Search for:</span>
                      <input type="search" class="search-field" placeholder="Search …" value="`+string_search+`" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                  </form> </div><!-- .page-content -->
            </section><!-- .no-results -->

                </main><!-- #main -->
              </section><!-- #primary -->

        </div>`);  
        }
      }
      
      /* ]]> */
    :javascript
      var userLang = navigator.language || navigator.userLanguage; 
      if( userLang == "da" && sessionStorage.count != "1"){
      function change_lang(){
      document.getElementById('DA').click();
      sessionStorage.setItem("count", "1");
      }}
      window.onload = change_lang;
