!!!
%html{:lang => "en-GB"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Welcome | Product Data Lake
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    %link{:href => "http://soerensen.fr/psi/UK/feed/", :rel => "alternate", :title => "Product Data Lake » Feed", :type => "application/rss+xml"}/
    %link{:href => "http://soerensen.fr/psi/UK/comments/feed/", :rel => "alternate", :title => "Product Data Lake » Comments Feed", :type => "application/rss+xml"}/
    %link#columns-css{:href => "/stylesheets/columns.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#contact-form-7-css{:href => "/stylesheets/styles.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-css{:href => "/stylesheets/cookie-law-info-public.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-gdpr-css{:href => "/stylesheets/cookie-law-info-gdpr.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#meanmenu-css{:href => "/stylesheets/meanmenu.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-grid-css{:href => "/stylesheets/grid.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#owl-carousel-css{:href => "/stylesheets/owl.carousel.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-style-css{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-responsive-css{:href => "/stylesheets/responsive.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#font-awesome-css{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-fonts-css{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-40.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_en' %}
      #main-slider
        .owl-carousel
          .item{:style => "background-image: url(http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/iStock-908478148-slide.jpg); "}
            .caption
              %h2 Welcome
            / .caption
        .scroll-down-wrapper
          .scroll-down
            %a{:href => "#scroll"}
              .scroll-down-middle
              %span.fa.fa-angle-double-down
          / .scroll-down
        / .scroll-down-wrapper
      #primary-home.content-area
        %main#main.site-main{:role => "main"}
          %section.blog-news
            .container
              .row
                .col.col-1-of-1
                  %header.entry-header.heading
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/Gepard-260x250.jpg", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "http://soerensen.fr/psi/UK/2019/02/19/flashtest-your-business/"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "http://soerensen.fr/psi/UK/2019/02/19/flashtest-your-business/"} Flashtest Your Business
                      / .entry-header
                      .entry-content
                        %p
                          Test om Jeres virksomhed udveksler produktdata i sneglefart eller som som en gepard.. powered by...
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/iStock-912944158-260x250.jpg", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "http://soerensen.fr/psi/UK/2019/02/19/become-ambassador-to-product-data-lake/"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "http://soerensen.fr/psi/UK/2019/02/19/become-ambassador-to-product-data-lake/"} Become Ambassador to Product Data Lake
                      / .entry-header
                      .entry-content
                        %p
                          Synes du at Product Data Lakes syn på den fremtidige måde at dele produktdata på...
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/iStock-873806068-260x250.jpg", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "http://soerensen.fr/psi/UK/2019/02/19/free-trial/"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "http://soerensen.fr/psi/UK/2019/02/19/free-trial/"} Free Trial
                      / .entry-header
                      .entry-content
                        %p
                          Log på Product Data Lake og test. Første måned er gratis. Du kan også sende...
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "http://soerensen.fr/psi/UK/wp-content/uploads/2019/01/iStock-1046171366-260x250.jpg", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "http://soerensen.fr/psi/UK/2019/02/19/stay-up-to-date-with-the-latest-news/"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "http://soerensen.fr/psi/UK/2019/02/19/stay-up-to-date-with-the-latest-news/"} Stay Up to Date with the Latest News
                      / .entry-header
                      .entry-content
                        %p
                          Ønsker du at holde dig a jour med hvad der sker inden for Big data,...
                    / .blog-content
                  / .blog-post
                / .col
              / .row
            / .container
          / .blog-news
        / #main
      / #primary
      %footer#colophon.site-footer{:role => "contentinfo"}
        #site-generator.site-info
          .container
            .col.col-1-of-1
              .footer-copyright
                #copyright
                  %p Copyright 2016. All rights reserved.
                .go-to-top
                  %a.go-to-top-link{:href => "#"}
                    %i.fa.fa-angle-up
                    = succeed "Back" do
                      %br/
                / .go-to-top
              / .footer-copyright
            / .col
          / .wrapper
        / #site-generator
      / .site-footer
    / #page
    #cookie-law-info-bar
      %span
        This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish.
        %a#cookie_action_close_header.medium.cli-plugin-button.cli-plugin-main-button.cookie_action_close_header.cli_action_button{"data-cli_action" => "accept", :href => "#"} Accept
        %a#CONSTANT_OPEN_URL.cli-plugin-main-link{:href => "http://soerensen.fr/psi/UK", :target => "_blank"} Read More
    #cookie-law-info-again
      %span#cookie_hdr_showagain Privacy &amp; Cookies Policy
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"3000","autoplayTimeout":"3000"};
      /* ]]> */
