!!!
%html{:lang => "en-GB"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Welcome | Product Data Lake
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    %link{:href => "http://soerensen.fr/psi/UK/feed/", :rel => "alternate", :title => "Product Data Lake » Feed", :type => "application/rss+xml"}/
    %link{:href => "http://soerensen.fr/psi/UK/comments/feed/", :rel => "alternate", :title => "Product Data Lake » Comments Feed", :type => "application/rss+xml"}/
    {{ 'columns.css' | stylesheet_tag }}
    {{ 'styles.css' | stylesheet_tag }}
    {{ 'cookie-law-info-gdpr.css' | stylesheet_tag }}
    {{ 'cookie-law-info-public.css' | stylesheet_tag }}
    {{ 'meanmenu.css' | stylesheet_tag }}
    {{ 'grid.css' | stylesheet_tag }}
    {{ 'owl-carousel.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'responsive.css' | stylesheet_tag }}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :rel => "stylesheet"}/

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-40.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_en' %}
      #main-slider
        .owl-carousel
          .item{:style => "background-image: url({% editable_file Gepard %}/samples/pages/iStock-908478148-slide.jpg{% endeditable_file %}); "}
            / .caption
            /   %h2 Welcome
            / / .caption
        .scroll-down-wrapper
          .scroll-down
            %a{:href => "#scroll"}
              .scroll-down-middle
              %span.fa.fa-angle-double-down
          / .scroll-down
        / .scroll-down-wrapper
      #primary-home.content-area
        %main#main.site-main{:role => "main"}
          %section.blog-news
            .container
              .row
                .col.col-1-of-1
                  %header.entry-header.heading
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file Gepard %}/samples/pages/Gepard-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/en/blog1"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/en/blog1"} Flashtest Your Business
                      / .entry-header
                      .entry-content
                        %p
                          Test if your company exchange data with the speed of a gepard or a snail...
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file Gepard %}/samples/pages/iStock-912944158-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/en/blog2"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/en/blog2"} Become Ambassador to Product Data Lake
                      / .entry-header
                      .entry-content
                        %p
                          Do you think the future way of sharing product data is just as exciting as...
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file Gepard %}/samples/pages/iStock-873806068-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/en/blog3"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/en/blog3"} Free Trial
                      / .entry-header
                      .entry-content
                        %p
                          Log on and test our system. You get 2 month for free and we help...
                    / .blog-content
                  / .blog-post
                / .col
                .col.col-1-of-2
                  %article.blog-post
                    .entry-thumbnail
                      %img.attachment-business-hub-blog.size-business-hub-blog.wp-post-image{:alt => "", :height => "250", :src => "{% editable_file Gepard %}/samples/pages/iStock-1046171366-260x250.jpg{% endeditable_file %}", :width => "260"}/
                      .thumbhover
                        %a.more-link.btn-business.v-center{:href => "/en/blog4"} Read More
                    / .entry-thumbnail
                    .blog-content
                      %header.entry-header
                        %h3.entry-title
                          %a{:href => "/en/blog4"} Stay Up to Date with the Latest News
                      / .entry-header
                      .entry-content
                        %p
                          Do you wish to be kept a jour with the latest news when it comes...
                    / .blog-content
                  / .blog-post
                / .col
              / .row
            / .container
          / .blog-news
        / #main
      / #primary
      {% include 'foot_en' %}
    / #page
    {% include 'cookie1' %}
    {% include 'cookie2' %}
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
    :javascript
      /* <![CDATA[ */
      cli_cookiebar_settings='{"animate_speed_hide":"500","animate_speed_show":"500","background":"#FFF","border":"#b1a6a6c2","border_on":false,"button_1_button_colour":"#000","button_1_button_hover":"#000000","button_1_link_colour":"#fff","button_1_as_button":true,"button_1_new_win":false,"button_2_button_colour":"#333","button_2_button_hover":"#292929","button_2_link_colour":"#444","button_2_as_button":false,"button_3_button_colour":"#000","button_3_button_hover":"#000000","button_3_link_colour":"#fff","button_3_as_button":true,"button_3_new_win":false,"button_4_button_colour":"#000","button_4_button_hover":"#000000","button_4_link_colour":"#fff","button_4_as_button":true,"font_family":"inherit","header_fix":false,"notify_animate_hide":true,"notify_animate_show":false,"notify_div_id":"#cookie-law-info-bar","notify_position_horizontal":"right","notify_position_vertical":"bottom","scroll_close":false,"scroll_close_reload":false,"accept_close_reload":false,"reject_close_reload":false,"showagain_tab":true,"showagain_background":"#fff","showagain_border":"#000","showagain_div_id":"#cookie-law-info-again","showagain_x_position":"100px","text":"#000","show_once_yn":false,"show_once":"10000","logging_on":false,"as_popup":false,"popup_overlay":true,"bar_heading_text":"","cookie_bar_as":"banner","popup_showagain_position":"bottom-right","widget_position":"left"}';
      /* ]]> */
    :javascript
      /* <![CDATA[ */
      var wpcf7 = {"apiSettings":{"root":"http:\/\/soerensen.fr\/psi\/UK\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
      /* ]]> */
    {{ 'application.js' | javascript_tag }}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"3000","autoplayTimeout":"3000"};
      /* ]]> */
    :javascript
      var list1en = "/en/blog1,/en/blog2,/en/blog3,/en/blog4,/en/blog5,/en/blog6,/en/business1,/en/business2,/en/business3,/en/business4,/en/information1,/en/information2,/en/information3,/en/information4,/en/information5,/en/information6,/en/information7,/en/log1,/en/technical1,/en/technical2,/en/technical3,/en/technical4,/en/technical5,/en/technical6,/en/wellcome1,/en/wellcome2";

      var list2en = "Flashtest Your Business,Become Ambassador to Product Data Lake,Free Trial,Stay Up to Date with the Latest News,Welcome,The Long Tail of Product Data Synchronization,I am a Manufacturer,I am Retailer,I have an E-shop,I have a retail shop/chain of retail shops,Flashtest Your Business,Become Ambassador to PDL,Prices,Q & A,Free Trial,Watch Our Movie Clip,Stay updated,Create new user,Product Data Syndication Freedom,Metadata Management and International Standards,Data Lake and Business Ecosystems,Cross Company Data Governance,Artificial Intelligence and Machine Learning,Getting Started and Documentation,About Product Lake Data,How to get started";

      var list3en = "Test if your company exchange data with the speed of a gepard or a snail,Do you think the future way of sharing product data is just as exciting as we do then become part of our team. We wish to work with ambassadors who can contribute and share knowledge on the subject and make companies use our platform and guide them…,Log on and test our system. You get 2 month for free and we help you to get started. Send us and e-mail if you need help.,Do you wish to be kept a jour with the latest news when it comes Big data Product Data Management og Product Information Management then please sign up here her. Then we send you an e-mail when exciting news trends and new solutions show up.,wellcome,When discussing with peers and interested parties about.So what is the difference between those services and Product Data Lake. Electronic Data Interchange (EDI)is the concept of businesses electronically communicating information that was traditionally communicated on paper such as purchase orders and invoices. EDI also has a product catalog functionality encompassing:Seller name and contact information Terms of sale information including discounts available Item identification and description Item physical details including type of packaging Item pricing information including quantity and unit of measure The Global Data Synchronization Network (GDSN) is an internet-based interconnected network of interoperable data pools and a global registry known as the GS1 Global Registry that enables companies around the globe to exchange standardised and synchronised supply chain data with their trading partners using a standardised Global Product Classification (GPC).This service focuses on retail healthcare food-service and transport / logistics. In some geographies GS1 is also targeting DIY – do it yourself building materials and tools for consumers.Product Data Lake is a cloud service for sharing product information (product data syndication) in the business ecosystems of manufacturers distributors / wholesalers merchants marketplaces and large end users of product information. Our vision is that Product Data Lake will be the process driven key service for exchanging any sort of product information within business ecosystems all over the world with the aim of optimally assist self-service purchase – both B2C and B2B – of every kind of product.In that way Product Data Lake is the long tail of product data synchronization supplementing EDI and GDSN for a long range of product groups product attributes digital assets product relationships and product classification systems:, Make it easy inexpensive and effective for your customers to purchase and resell your products. Your product data is automatically ”pushed” forward to your customers which helps increase your sales and their sales at the same time. A vital precondition for a sale is that your customers have proper information about your products when buying and reselling them. Product Data Lake is a cloud-based solution that automatically converts and “pushes” product data from your system to your customers feeding it directly into their individual systems in the preferred format regardless of the system that you and your customers use. It is up to you to decide what data you wish to share with the individual customers and their systems will automatically be updated accordingly. Product Data Lake can either be used alone or as an add-on solution for frequently used ERP and PIM product management systems. You only pay for the data that is transmitted through the system. This guarantees you the safest and most scalable solution.  Avoid incorrect product data How do you currently make sure that all your customers always have the most up-to-date product data? Do you send them a catalogue an email or an Excel file? Do you have a customer portal from which they are able to download your data? Or do you send updated data individually to each of your customers’ supplier portals? Perhaps you do a little bit of each? No matter which of these solutions you choose there is a risk that your customers make use of data that is either not up-to-date or perhaps contains errors. To make matters worse it is both expensive and inconvenient for you to have to deliver data to your customers in this fashion. Increase your turnover Another thing is do your customers remember to update their information as soon as it is made available to them and how do they minimize the risk of errors if they need to handle the data manually? Don’t forget your customers probably have a host of other suppliers who want them to update their product data here and now. It is both time-consuming and expensive for your customers to manage all that data which comes in many different shapes and forms. The risk of errors when handling data is significant and if your customers fail to manage your product data correctly and simultaneously you end up losing turnover.Product Data Lake solves the problem with great advantage for you as the manufacturer for your customers and for their customers such as retailers and web shops.Facts about Product Data Lake – automatic product data transfer You can always rest assured that your customers and their customers have correct and up-to-date versions of your product data You gain a competitive edge by making it convenient and effective for your customers to do business with you You achieve greater customer satisfaction Your customers save a substantial amount of money and loads of work hours by not having to handle product date on their own You save money and labor by only having to deliver product data through one source You and your customers increase your sales by always having 100 correct product data You and customers save money on misorders and returns as a result of having incorrect product data It is inexpensive to use Product Data Lake compared with other types of product data exchange as the settlement is variable and based exclusively on the amount of data that is transmitted through the system. The annual cost per product typically lies in the range of 1-3 DKr., Make it easy inexpensive and effective for your customers to purchase and resell your products. Your product data is automatically ”pushed” forward to your customers which helps increase both your sales and their sales at the same time. What is more you gain access to all the product data you need from your suppliers in a way that is easy has a low cost and is efficient. That way you save a lot of money and time. A vital precondition for a sale is that your customers have proper information about your products when buying and reselling them. Product Data Lake is a cloud-based solution that automatically converts and “pushes” product data from your system to your customers feeding it directly into their individual systems in the preferred format regardless of the system that you and your customers use. It is up to you to decide what data you wish to share with the individual customers and their systems will automatically be updated accordingly. Product Data Lake can either be used alone or as an add-on solution for frequently used ERP and PIM product management systems. You only pay for the data that is transmitted through the system. This guarantees you the safest and most scalable solution Avoid incorrect product data How do you currently make sure that all your customers always have the most up-to-date product data? Do you send them a catalogue an email or an Excel file? Do you have a customer portal from which they are able to download your data? Or do you send updated data individually to each of your customers’ supplier portals? Perhaps you do a little bit of each? No matter which of these solutions you choose there is a risk that your customers make use of data that is either not up-to-date or perhaps contains errors. To make matters worse it is both expensive and inconvenient for you to have to deliver data to your customers in this fashion. Increase your turnover Another thing is do your customers remember to update their information as soon as it is made available to them and how do they minimize the risk of errors if they need to handle the data manually? Don’t forget your customers probably have a host of other suppliers who want them to update their product data here and now. It is both time-consuming and expensive for your customers to manage all that data which comes in many different shapes and forms. The risk of errors when handling data is significant and if your customers fail to manage your product data correctly and simultaneously you end up losing turnover. How do you receive product data from your suppliers? Do they send them by mail file transfer or are you are forced to access various portals in order to download the data? It is the exact same problem that people are faced with at all levels. It is expensive complicated and comes with a great risk of errors when all parties want to deliver and receive product data in different ways. Product Data Lake solves the problem with great advantage for you as a retailer for your suppliers and for your customers such as retail outlets and web shops. Facts about Product Data Lake – automatic product data transfer You can rest assured that all your customers have correct and updated versions of your product data You gain a competitive edge by making it convenient and effective for your customers to do business with you Your customers achieve greater customer satisfaction Your customers save a substantial amount of money and loads of work hours by not having to handle product date manually You save money and labor by only having to deliver product data through one source You and your customers increase your sales by always having 100% correct product data You and your customers save money on misorders and returns as a result of having incorrect product data It is inexpensive to use Product Data Lake compared with other types of product data exchange as the settlement is variable and based exclusively on the amount of data that is transmitted through the system. The annual cost per product typically lies in the range of 1-3 DKr., Gain constant access to 100% correct fulfilling and updated data about the products that you sell. All your suppliers’ data is converted to the exact same format the one in which you prefer to receive it. Their product data is automatically “pushed” into your system to the extent that you desire. That way you can provide your customers with proper product information make them feel safe and increase your sales.A vital precondition for a sale is that you have proper and updated information about the products you buy and that your customers have the right information about the products they buy from you. Product Data Lake is a cloud-based solution that automatically converts and “pushes” product data from your suppliers into your system regardless of the system that you and your countless suppliers use. It is up to you to decide what data you wish to receive from each individual supplier and your system will automatically be updated each time one of your suppliers makes changes or adds something new. Product Data Lake can either be used alone or as an add-on solution for frequently used ERP and PIM product management systems. You only pay for the data that is transmitted through the system. This guarantees you the safest and most scalable solution Avoid incorrect product data How do you currently make sure that you always have correct and updated product data? Do you receive a catalogue emails or Excel files? Do you have a customer portal to which your suppliers are able to upload their data? Or do you download updated data individually from each of your customers’ supplier portals? Perhaps you do a little bit of each? No matter which of these solutions you choose it will not safeguard you against data that is not updated or data with errors. Every time people handle data it increases the risk of mistakes. What is more it is expensive and inconvenient for you to have to receive and manage data in many different ways. You also need to look at it from your suppliers’ perspective. They have many customers that want to receive data in many different ways. Tailoring data for each retailer like that costs your suppliers a huge amount of money and is very time-consuming. It also involves a huge risk of mistakes at their end of the line. Product Data Lake solves the problem with great advantage for you as a web shop as well as for your suppliers and it eventually results in increased turnover for all parties Facts about Product Data Lake – automatic product data transfer You can rest assured that you always have access to correct and updated product data from your suppliers Your product data will always be completely correct and up-to date You will experience that your customers are more satisfied because of always receiving sufficient and correct information Your suppliers will save a substantial amount of money and loads of work hours on this easy method of keeping you up-to-date. This strengthens your negotiating platform and makes you a more valued customer You save a lot of money and a lot of work hours by only having to receive product data in on fashion You and your suppliers increase your sales by always having correct product data You save money on misorders and returns as a result of having incorrect product data It is inexpensive to use Product Data Lake compared with other types of product data exchange as the settlement is variable and based exclusively on the amount of data that is transmitted through the system. The annual cost per product typically lies in the range of 1-3 DKr., Gain constant access to 100% correct fulfilling and updated data about the products that you sell. All your suppliers’ data is converted to the exact same format the one in which you prefer to receive it. Their product data is automatically “pushed” into your system to the extent that you desire. That way you can provide your customers with proper product information make them feel safe and increase your sales. A vital precondition for a sale is that you have proper and updated information about the products you buy and that your customers have the right information about the products they buy from you. Product Data Lake is a cloud-based solution that automatically converts and “pushes” product data from your suppliers into your system regardless of the system that you and your countless suppliers use. It is up to you to decide what data you wish to receive from the individual supplier and your system will automatically be updated each time one of your suppliers makes changes or adds something new. Product Data Lake can either be used alone or as an add-on solution for frequently used ERP and PIM product management systems. You only pay for the data that is transmitted through the system. This guarantees you the safest and most scalable solution Avoid incorrect product data How do you currently make sure that you always have correct and updated product data? Do you receive a catalogue emails or Excel files? Do you have a customer portal to which your suppliers are able to upload their data? Or do you download updated data individually from each of your customers’ supplier portals? Perhaps you do a little bit of each? No matter which of these solutions you choose it will not safeguard you against data that is not updated or data with errors.Every time people handle data it increases the risk of mistakes. What is more it is expensive and inconvenient for you to have to receive and manage data in many different ways.You also need to look at it from your suppliers’ perspective. They have many customers that want to receive data in many different ways. Tailoring data for each retailer like that costs your suppliers a huge amount of money and is very time-consuming. And it also involves a huge risk of mistakes at their end of the line.Product Data Lake solves the problem with great advantage for you as a retailer as well as for your suppliers and it eventually results in increased turnover for all parties Facts about Product Data Lake – automatic product data transfer You can rest assured that you always have access to correct and updated product data from your suppliers  Your product data will always be completely correct and up-to date You will experience that your customers are more satisfied because of always receiving sufficient and correct information Your suppliers will save a substantial amount of money and loads of work hours on this easy method of keeping you up-to-date. This strengthens your negotiating platform and makes you a more valued customer You save money and labor by only having to deliver product data through one source You and your suppliers increase your sales by always having 100% correct product data You save money on misorders and returns as a result of having incorrect product data It is inexpensive to use Product Data Lake compared with other types of product data exchange as the settlement is variable and based exclusively on the amount of data that is transmitted through the system. The annual cost per product typically lies in the range of 1-3 DKr.,Flashtest Your Business,Do you think the future way of sharing product data is just as exciting as we do then become part of our team. We wish to work with ambassadors who can contribute and share knowledge on the subject and make companies use our platform and guide them…Product Data Lake Ambassador,Der findes følgende niveauer ved årlig forudbetaling: Priserne er eksklusiv moms.Endvidere tilbydes en efterbetalt model med kvartalsvis afregning efter forbrug hvor der er mindre spring mellem niveauerne. Skriv til info@productdatalake.com for mere information. I begge tilfælde tilbydes en 2 måneders gratis prøveperiode. Lige nu tilbydes også 2 timers gratis support til opstart så i kan komme godt igang., The most frequently asked questions (with corresponding answers) about Product Data Lake (PDL)Questions 1 – 6 are general questionsQuestions 7-9 address those with a need to provide business partners (typically manufacturers and retailers) with data Questions 10-12 address those with a need to receive data from business partners (typically retailers and web shops) General topics 1)  How does PDL work? PDL is a cloud-based solution that anyone using a web browser can access. As soon as you have received your login permit you can go online with all your customers provided they have a login permit and both parties have accepted the partnership. Essentially it functions in the same way as a social network. You can set up the daily exchange of product information automatically using FTP file exchange or as an application program interface (API). You are free to choose the exchange form that suits you the best just like your business partners are free to do the same. 2)  How much does it cost to use PDL? PDL is a 100% scalable system. You only pay for the amount of data that you send and receive. The typical annual cost per product is 1 – 3 DKr depending on the number of products files business partners and users. 3)  Is PDL the same as a PIM (Product Information Management) system? No PDL is a system that automatically exchanges product data between business partners. A PIM system on the other hand is an in-house system that keeps track of a company’s own product data. A PIM system is rarely connected to business partners’ systems. 4)  Everyone talks about cloud-based solutions. Why are they so smart? Most businesses are faced with the same challenges with respect to administration sales financial management etc. Instead of each company having its own system which is a considerable expense it is both cost-effective and flexible to use a mutually accessible system that is already developed and works optimally. You only pay for your own data usage and there is no upper limit to the amount of data and the number of users that can be included in the system 5)  Is my data safe if it is stored in a cloud? Everything can be hacked (including cloud systems and private systems) and one type of system is every bit as safe as another. However the risk of a cloud-based system being hacked is smaller simply because the safety is prioritized due to the many users. The safety of a cloud-based service is bound to be higher than the safety of most in-house systems.6)  What is the difference between a “cloud” and a “lake”? A cloud and a lake are two different things yet they are similar in relation to IT. Data and systems are stored outside of the company and are accessed via the net. A “cloud” often means that you have access to a program while a “lake” typically involves storing large amounts of data. PDL is a cloud-based solution that gives you access to vast quantities of product data stored in a “lake”.Supplying product information 7)  Why is it smarter to use Product Data Lake (PDL) than to send a document or a file with product information to my customers?Once you have stored your product information in PDL all you customers can hook up and receive your data any way they like. Some prefer to register the data on their own while others prefer to have the data “pushed” automatically into their system. No matter what systems your customers use and how they prefer to receive the data PDL adjusts automatically to each customer’s individual preferences. Both you and your customers save a lot of time and labor on using PDL and because the data is not handled manually the risk of errors is minimal.8)  I am thinking of building my own PIM (Product Information Management) system so my customers can download product data from my customer portal. That it is the same as PDL right? No a PIM system is an in-house system and rarely communicates with your business partners’ systems. For you the work involved in storing your product data in either PDL or a PIM system is the same.  However it involves a lot of work for your customers to have to download and convert data from your PIM system via your customer portal and feed it into their own systems. If you use PDL your data is automatically pushed into your customers’ system without the need for human interference. Besides being significantly more convenient PDL is much more cost-effective. It can easily cost more than a million DKr to install a PIM system and it also sequesters a substantial amount of internal resources. A PDL solution on the other hand enables you to hook up directly and you only pay according to the amount of data used which is typically around 1 – 3 DKr per product per year.9)  I already have a PIM (Product Information Management) system that works just fine and which my employees feel confident about. I guess a PDL solution would not be necessary right now? If you have a well-functioning PIM system that works well and everyone feels safe about using that is good news. However it does not connect you with your customers. Your customers are still forced to spend a lot of time money and resources on downloading data from a variety of different portals converting the data and storing it in their own systems. Did you know that a PDL system can be superimposed onto your existing PIM system? That way your employees can continue using their PIM system but PDL will automatically collect the data from your PIM system and push it to your customers in the quantity and format that your customers have defined in PDL.Being connected with your customers and exchanging product data strengthens your ties and your business relation.Receiving product information 10) We have a supplier portal to which our business partners can upload their product data. This works just fine for us so why bother with using PDL? If you hold a superior position in your relation with your suppliers it makes perfect sense that each supplier uploads his own data. However consider the workload involved with all of your suppliers having to upload data to each of their business partners. What is more think of the risk of errors and the risk of your suppliers not uploading their data on time because of the enormous workload. Wouldn’t it be convenient if PDL transferred data from your suppliers to your portal automatically? Who knows you may eventually encounter a supplier that is large enough to become the new “big brother” with the superior role one who suddenly calls the shots and decides how he wants to deliver his data to each of you. In that case a PDL solution would make it much easier for the supplier as well as for the retailer.11) We currently receive our data in a multitude of different ways. It is quite demanding for us to handle the data. How can we solve that problem? All you need to do is to hook up to PDL. Inform your suppliers that in the future you would like for them to deliver their data to you via PDL. It makes no difference to them. The work is the same. You will automatically receive uniform and updated data directly in your system. You save time and money and avoid potentially costly mistakes. Also your suppliers will realize that they only need to upload their data to one place from where the data is automatically distributed to all their customers. Your customers will gain the same advantages as you. We can easily help you connect to your suppliers. 12) Many of our suppliers have their own portals that we have to access in order to collect data. Is there a smarter way of doing this? Yes hook up to PDL and ask your suppliers to connect their portals as well. That way product data is automatically transferred from your suppliers to you. It is a top priority for your suppliers that you always have updated product information. Therefore they are bound to listen to your requests.,Log on and test our system. You get 2 month for free and we help you to get started. Send us and e-mail if you need help.Contact us – link.,Watch Our Movie Clip,Do you wish to be kept a jour with the latest news when it comes Big data Product Data Management og Product Information Management then please sign up here her. Then we send you an e-mail when exciting news trends and new solutions show up.,Opret dig i Product Data Lake og inviter evt. en af dine samhandelspartnere til at gøre det samme. Så kan i med det samme og uden Her finder du vores brugsbetingelser og privatpolitik:Product Data Lake Terms of Service and Privacy Policy.,Product Data Lake offers product data syndication freedom by letting manufacturers push product information using their data standards and their preferred exchange method and merchants pull product information using their data standards and their preferred exchange method.Product Data Lake is built to ensure product data quality by achieving: Completeness of product information by enabling trading partners to exchange product data in a uniform way Timeliness of product information by connecting trading partners in a process driven way Conformity of product information by encompassing various international standards for product informationConsistency of product information by allowing upstream trading partners and downstream trading partners to interact with in-house structure of product information  Accuracy of product information by ensuring transparency of product information across the supply chain, Trading partners can share product information either using the same metadata or linking their different metadata. Using international national and industry standards for product information will be the perfect solution within business ecosystem sharing of metadata and indeed this is the preferred option we support. However there are many competing standards for product information and they come in developing versions so having everyone on the same page at the same time is quite utopic. Add to that everyone do not speak English – and even not the same variant of English. Metadata originates and should exist in the languages that is used in trading partnerships.In Product Data Lake we have these principles: Product attributes can be tagged with an attribute type telling about what standard (if any) in terms of product identification product classification or product feature it adheres to. Attribute short and long descriptions can be represented in different languages. Trading partners can link their product attributes and have visibility in Product Data Lake of the standards and descriptions used in the different languages they exist. Examples of standards covered are UNSPSC GPC ETIM eClass and Harmonized System for commodity codes., Sharing product data within business ecosystems has grown dramatically during the last years driven by the increased use of ecommerce and other customer self-service sales approaches. Most initiatives around handling product data has been focused on internal processes and technology and there are many viable solutions for that today. However we have not seen many solutions that solves the problems in the exchange zones between trading partners. Product Data lake uses emerging technology to connect manufacturers and merchants. A data lake is a concept with growing popularity related to big data. A data lake focuses less on predefined standards but makes variant use of data by the time needed possible. Product Data Lake streamlines and automate your business processes within Product Data Syndication by using the data lake concept., When sharing data in a cross company context you will need to expand your data governance framework to cope with the challenges in doing that. Therefore Product Data Lake have established a partnership with one of the most recommended authorities in data governance: Nicola Askham – the Data Governance Coach. For Cross Company Data Governance Framework Please request more information here The triangular and pyramid graphics are trademarks of Nicola Askham Ltd., The aim of the Product Data Lake service is to translate between the different taxonomies in use at trading partners for example when a manufacturer shares his product information with a merchant. In some cases the manufacturer the provider of product information may use the same standard for product information as the merchant. This may be deep standards as eCl@ss and ETIM or pure product classification standards as UNSPSC. In this case we can apply deterministic matching of the classifications and the attributes (also called properties or features). However most often there are uncovered areas even when two trading partners share the same standard. And then again the most frequent situation is that the two trading partners are using different standards. In that case we initially will use human resources to do the linking. Our data governance framework for that includes upstream (manufacturer) responsibility downstream (merchant) responsibility and our ambassador concept. As always applying too much human interaction is costly time consuming and error prone. Therefore we are very eagerly training our machines to be able to do this work in a cost-effective way within a much shorter time frame and with a repeatable and consistent outcome to the benefit of the participating manufacturers merchants and other enterprises involved in exchanging products and the related product information. In that quest we are participating in the Global Community for Artificial Intelligence in MDM.,Learn how to create an account for your company with you as the first user here: Product Data Lake Getting Started. Learn how to manage the attributes (metadata) your company is using and how to link them to those of your trading partners here: Product Data Lake Manage Attributes Learn how to manage the product portfolio at your company and how to link this to those of your trading partners here: Product Data Lake Manage Products. Learn how to exchange products attributes relations and digital assets with your trading partners here: Product Data Lake Data Exchange.Interested in knowing what is behind the scenes at Product Data lake? Learn it here: Product Data Lake Architecture., Product Data Lake (PDL) er en fuldt udviklet cloud baseret IT-løsning til udveksling af produktdata imellem handelspartnere. PDL er ”drop box” lignende tjeneste hvor 2 handelspartnere kan udveksle produktinformationer helt automatisk. PDL kan også binde handelspartneres ERP og PIM systemer sammen. Når en part ”up loader” data ”pushes” de automatisk ind i ”Product Data Lake” som så konverterer dem til at kunne pushes videre ind i samhandelspartnernes forskellige systemer. Hver enkelt partner har en unik profil så det er kun de informationer som ”up loader´en” bestemmer hver enkelt partner skal have som frigives. PDL er udviklet af specialister med den største viden og erfaring inden for Big Data og Master Data Magement systemer og med stor viden om den teknolog der kommer til styre fremtidens løsninger inden for udveksling af produktdata. Det gælder på tværs af brancher og lande. Product Data Lake drives af Henrik Engel CEO og Henrik Liliendahl CTO.,Det er nemt at komme igang og prøve Product Data Lake. Opret en konto og begynd at lægge dine data ind. Det er den bedste måde at prøve systemet af på uden det koster dig noget. De 2 første måneder er gratis. Følg vejledning Getting started. Vi hjælper dig hvis du skulle have brug for hjælp eller ønsker mere information.Contact us";
      var array_1en = list1en.split(",");
      var array_2en = list2en.split(",")
      var array_3en = list3en.split(",")

      var url = window.location.href
      var result = [];
      if (url.includes("s=")){
        $("#main-slider").empty();
        $("#primary-home").empty();
        string_search = url.split("s=")[1]
        var i;
        for (i = 0; i < array_3en.length; i++) { 
          if (  ( array_3en[i].includes(string_search) ) || ( array_2en[i].includes(string_search)  )  ){
            result.push(i)
          }
        }
        var html = ``;
        for (i = 0; i < result.length; i++) { 
          html = html + `
          <article class="post-category-wrapper post-914 page type-page status-publish hentry">
            <header class="entry-header">
              <h2 class="entry-title"><a href="`+ array_1en[result[i]] +`" rel="bookmark">`+ array_2en[result[i]] +`</a></h2>
                </header><!-- .entry-header -->

            <div class="entry-summary">
              <p>`+array_3en[result[i]].substring(0,100)+` […]</p>
            </div><!-- .entry-summary -->
            
          </article><!-- #post-## -->
        `
        }

        if (result.length > 0){
          $("#primary-home").addClass("container"); 
          $("#primary-home").html(`
            <div class="row">
              <section id="primary" class="content-area col col-2-of-3">
                <main id="main" class="site-main" role="main">
                  <header class="page-header">
                    <h1 class="page-title">Search Results for: <span>`+string_search+`</span></h1>
                  </header>
                  `+html+`
                </main><!-- #main -->
              </section><!-- #primary -->
            </div>  
        `);  
         
        }else {
          $("#primary-home").addClass("container"); 
          $("#primary-home").html(`
            <div class="row">
            <section id="primary" class="content-area col col-2-of-3">
              <main id="main" class="site-main" role="main">
            <section class="no-results not-found">
              <header class="page-header">
                <h1 class="page-title">Nothing Found</h1>
              </header><!-- .page-header -->

              <div class="page-content">
                
                  <p>Sorry, but nothing matched your search terms. Please try again with some different keywords.</p>
                  <form role="search" method="get" class="search-form" action="">
                    <label>
                      <span class="screen-reader-text">Search for:</span>
                      <input type="search" class="search-field" placeholder="Search …" value="`+string_search+`" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                  </form> </div><!-- .page-content -->
            </section><!-- .no-results -->

                </main><!-- #main -->
              </section><!-- #primary -->

        </div>`);  
        }
      }
      
      var userLang = navigator.language || navigator.userLanguage; 
      if( userLang == "da" && sessionStorage.count != "1"){
      function change_lang(){
      document.getElementById('DA').click();
      sessionStorage.setItem("count", "1");
      }}
      window.onload = change_lang;
    
