!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Product Data Lake - Let product data flow easily between trading partners
    %link{:href => "//www.soerensen.fr", :rel => "dns-prefetch"}/
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    %link#columns-css{:href => "/stylesheets/columns.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#contact-form-7-css{:href => "/stylesheets/styles.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-css{:href => "/stylesheets/cookie-law-info-public.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-gdpr-css{:href => "/stylesheets/cookie-law-info-gdpr.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#meanmenu-css{:href => "/stylesheets/meanmenu.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-grid-css{:href => "/stylesheets/grid.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#owl-carousel-css{:href => "/stylesheets/owl.carousel.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-style-css{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-responsive-css{:href => "/stylesheets/responsive.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#font-awesome-css{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-fonts-css{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-662.page-parent.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_da' %}
      #content.site-content
        .container
          .row
            #primary.content-area.col.col-2-of-3
              %main#main.site-main{:role => "main"}
                %article#post-908.post-908.page.type-page.status-publish.hentry
                  %header.entry-header
                    %h1.entry-title Cross Company Data Governance
                  / .entry-header
                  .entry-content
                    .pf-content
                      %p When sharing data in a cross company context you will need to expand your data governance framework to cope with the challenges in doing that. Therefore, Product Data Lake have established a partnership with one of the most recommended authorities in data governance: Nicola Askham – the Data Governance Coach.
                      %p
                        For a quick overview please have a look at the
                        = succeed "." do
                          %a{:href => "/images/cross-company-data-governance.png", :rel => "noopener noreferrer", :target => "_blank"} Cross Company Data Governance Framework
                      %p
                        Please request more information
                        = succeed "." do
                          %a{:href => "http://www.nicolaaskham.com/cross-co-dg-dl", :rel => "noopener noreferrer", :target => "_blank"} here
                      %p
                        %a{:href => "/images/nicola.png"}
                          %img.alignnone.size-full.wp-image-1140{:alt => "", :height => "250", :sizes => "(max-width: 589px) 100vw, 589px", :src => "/images/nicola.png", :width => "589"}/
                      %p
                        %em The triangular and pyramid graphics are trademarks of Nicola Askham Ltd.
                  / .entry-content
                / #post-##
              / #main
            / #primary
            #secondary.widget-area.col.col-1-of-3{:role => "complementary"}
              .sidebar
                %aside#media_image-15.widget.widget_media_image
                  %header.entry-header
                    %h4.widget-title Explore Our 10 Business Benefits
                  %a{:href => "/images/10-Business-Benefits.pdf"}
                    %img.image.wp-image-1170.attachment-large.size-large{:alt => "", :height => "1024", :sizes => "(max-width: 724px) 100vw, 724px", :src => "/images/10-Business-Benefits-724x1024.png", :style => "max-width: 100%; height: auto;", :width => "724"}/
            / #secondary
          / .row
        / .container
      / #content
      {% include 'foot' %}
    / #pageage
    #cookie-law-info-bar
      %span
        This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish.
        %a#cookie_action_close_header.medium.cli-plugin-button.cli-plugin-main-button.cookie_action_close_header.cli_action_button{"data-cli_action" => "accept", :href => "#"} Accept
        %a#CONSTANT_OPEN_URL.cli-plugin-main-link{:href => "/images/Product-Data-Lake-Terms-of-Service-and-Privacy-Policy-201810.pdf", :target => "_blank"} Read More
    #cookie-law-info-again
      %span#cookie_hdr_showagain Privacy &amp; Cookies Policy
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
      /* ]]> */
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"1000","autoplayTimeout":"1000"};
      /* ]]> */
    
