!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "http://gmpg.org/xfn/11", :rel => "profile"}/
    %title Product Data Lake - Let product data flow easily between trading partners
    %link{:href => "//www.soerensen.fr", :rel => "dns-prefetch"}/
    %link{:href => "//fonts.googleapis.com", :rel => "dns-prefetch"}/
    %link{:href => "//s.w.org", :rel => "dns-prefetch"}/
    %link#columns-css{:href => "/stylesheets/columns.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#contact-form-7-css{:href => "/stylesheets/styles.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-css{:href => "/stylesheets/cookie-law-info-public.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#cookie-law-info-gdpr-css{:href => "/stylesheets/cookie-law-info-gdpr.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#meanmenu-css{:href => "/stylesheets/meanmenu.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-grid-css{:href => "/stylesheets/grid.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#owl-carousel-css{:href => "/stylesheets/owl.carousel.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-style-css{:href => "/stylesheets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#business-hub-responsive-css{:href => "/stylesheets/responsive.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %link#font-awesome-css{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#business-hub-fonts-css{:href => "https://fonts.googleapis.com/css?family=Exo+2%3A300%2C400%2C500%2C500i%2C600%2C700%2C900%7CRoboto%3A300%2C400%2C500%2C700%2C900&subset=latin%2Clatin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", :type => "text/javascript"}
  %body.home.page-template-default.page.page-id-662.page-parent.wp-custom-logo.right-sidebar
    #page.site
      {% include 'header_da' %}
      #primary-home.content-area
        %main#main.site-main{:role => "main"}
          %section.blog-news
            .container
              .row
                #primary.content-area.col.col-2-of-3
                  %main#main.site-main{:role => "main"}
                    %article#post-728.post-728.page.type-page.status-publish.hentry
                      %header.entry-header
                        %h1.entry-title Om Product Data Lake
                      / .entry-header
                      .entry-content
                        .pf-content
                          %p Product Data Lake (PDL) er en fuldt udviklet cloud baseret IT-løsning til udveksling af produktdata imellem handelspartnere. PDL er ”drop box” lignende tjeneste, hvor 2 handelspartnere kan udveksle produktinformationer helt automatisk. PDL kan også binde handelspartneres ERP og PIM systemer sammen. Når en part ”up loader” data ”pushes” de automatisk ind i ”Product Data Lake” som så konverterer dem til at kunne pushes videre ind i samhandelspartnernes forskellige systemer. Hver enkelt partner har en unik profil, så det er kun de informationer som ”up loader´en” bestemmer hver enkelt partner skal have, som frigives.
                          %p PDL er udviklet af specialister med den største viden og erfaring inden for Big Data og Master Data Magement systemer og med stor viden om den teknolog der kommer til styre fremtidens løsninger inden for udveksling af produktdata. Det gælder på tværs af brancher og lande.
                          %p Product Data Lake drives af Henrik Engel, CEO og Henrik Liliendahl, CTO.
                      / .entry-content
                    / #post-##
                  / #main
                / #primary
                #secondary.widget-area.col.col-1-of-3{:role => "complementary"}
                  .sidebar
                    %aside#media_image-2.widget.widget_media_image
                      %img.image.wp-image-1058.attachment-medium.size-medium{:alt => "", :height => "300", :sizes => "(max-width: 300px) 100vw, 300px", :src => "/images/iStock-1046171366-260x250.jpg",:style => "max-width: 100%; height: auto;", :width => "300"}/
                / #secondary
              / .row
            / .container
          / .blog-news
        / #main
      / #primary
      #content.site-content
        .container
          .row
          / .row
        / .container
      / #content
      {% include 'foot' %}
    / #page
    #cookie-law-info-bar
      %span
        This website uses cookies to improve your experience. We'll assume you're ok with this, but you can opt-out if you wish.
        %a#cookie_action_close_header.medium.cli-plugin-button.cli-plugin-main-button.cookie_action_close_header.cli_action_button{"data-cli_action" => "accept", :href => "#"} Accept
        %a#CONSTANT_OPEN_URL.cli-plugin-main-link{:href => "/samples/Product-Data-Lake-Terms-of-Service-and-Privacy-Policy-201810.pdf", :target => "_blank"} Read More
    #cookie-law-info-again
      %span#cookie_hdr_showagain Privacy &amp; Cookies Policy
    .cli-modal-backdrop.cli-fade.cli-settings-overlay
    .cli-modal-backdrop.cli-fade.cli-popupbar-overlay
      /* ]]> */
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    :javascript
      /* <![CDATA[ */
      var business_hub_script_vars = {"slideSpeed":"1000","autoplayTimeout":"1000"};
      /* ]]> */
    
