---
title: Default layout
is_layout: false
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    //%meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    %meta{:content => "{{ site.meta_keywords | escape }}", :name => "keywords"}/
    %meta{:content => "{{ site.meta_description | escape }}", :name => "description"}
    %title {{ site.seo_title | escape }}

    %link{href: "{{ 'icon.png' | theme_image_url }}", rel: "shortcut icon", type:"image/x-icon"}

    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'sb-admin-2.css' | stylesheet_tag }}

  %body
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
    {{ 'main.js' | javascript_tag }}
    {{ 'new.js' | javascript_tag }}
    {{ 'sb-admin-2.css' | stylesheet_tag }}


    {% include 'nav' %}
    {% block content %}
    {% endblock %}
    {% include 'footer' %}


